{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Intro Area
  ===================================== -->
    <header class="intro pt100 pb100 parallax-window" data-parallax="scroll" data-speed="0.5"
            style="background-image: url('{% static 'common/assets/img/bg/music1.jpg' %}')">
        <div class="intro-body">

            <div class="container">

                <br><br><br><br>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2  mt-100">
                        <h1 class="text-uppercase font-montserrat mt-100 color-light animated" data-animation="fadeInUp"
                            data-animation-delay="300">
                            Frictionless <span class="text-uppercase color-pasific"> music licensing</span> solution
                        </h1>

                        <div class="col-md-8 col-md-offset-2">
                            <form action="{% url 'search' %}" method="post" class="form-horizontal" style="display: flex;">{% csrf_token %}
                                <label class="sr-only" for="inputHelpBlock">Input with help text</label>
                                <input type="text" class="form-control input-sqaure input-lg text-center" name="search"
                                       aria-describedby="helpBlock" placeholder="search by artist, band etc."> <span>&nbsp&nbsp</span>
                                <button class="button button-pasific button-lg hover-ripple-out animated"
                                   data-animation="fadeInUp" data-animation-delay="1200"
                                   style="float:right; display: inline-flex;">Search</button>

                            </form>


                        </div>


                    </div>
                </div>
            </div>

            <div class="intro-direction">
                <a href="#welcome">
                    <div class="mouse-icon">
                        <div class="wheel"></div>
                    </div>
                </a>
            </div>

        </div>
    </header>


    <div>
        <img src="{% static 'common/assets/img/bg/img-bg-19.jpg' %}" width="100%">

    </div>




    <!-- Search Modal Dialog Box
    ===================================== -->
    <div id="searchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-gray">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                </div>
                <div class="modal-body">
                    <form action="#" class="inline-form">
                        <input type="text" class="modal-search-input" autofocus>
                    </form>
                </div>
                <div class="modal-footer bg-gray">
                    <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                </div>
            </div>

        </div>
    </div>







    <div id="solution" class="container-fluid bg-dark2 pt50 pb50"
         style="background: url({% static 'common/assets/img/bg/bg-parallax-4.jpg' %}) 100% 50% no-repeat;">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4 class="text-center color-light">
                        Better Solution for Better music
                        <small class="heading-desc text-lowercase color-light">
                            There are numerous services acting in the micro licensing world, providing pre-cleared
                            music, but the problem is that the catalogue is poor. License It offers a new approach for
                            licensing music: one platform to search, identify music owners and negotiate directly.
                        </small>
                    </h4>

                </div>
            </div>

            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fact">
                        <div class="fact-number timer" data-perc="387">
                            <span class="factor color-info"></span>
                        </div>
                        <span class="fact-title color-light alpha7">Projects Completed</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fact">
                        <div class="fact-number timer" data-perc="545">
                            <span class="factor color-warning"></span>
                        </div>
                        <span class="fact-title color-light alpha7">Happy Clients</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fact">
                        <div class="fact-number timer" data-perc="750">
                            <span class="factor color-green"></span>
                        </div>
                        <span class="fact-title color-light alpha7">Positive Feedbacks</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="fact">
                        <div class="fact-number timer" data-perc="1000000">
                            <span class="factor color-pasific"> 10M </span>
                        </div>
                        <span class="fact-title color-light alpha7">indexed songs</span>
                    </div>
                </div>
                <br>
                <div class="col-sm-8 col-sm-push-2 text-center">


                    <a class="typeform-share button button-md button-gray hover-ripple-out"
                       href="{% url 'search' %}" data-mode="popup" target="_blank">Start
                        Licensing </a>
                    <script> (function () {
                        var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement,
                            gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/";
                        if (!gi.call(d, id)) {
                            js = ce.call(d, "script");
                            js.id = id;
                            js.src = b + "embed.js";
                            q = gt.call(d, "script")[0];
                            q.parentNode.insertBefore(js, q)
                        }
                    })() </script>

                </div>

            </div>
        </div>
    </div>





    <!-- Features Area
    ===================================== -->
    <div id="creators" id="features" class="pt75 mb25">
        <div class="container">

            <!-- title and short description start -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="font-size-normal">
                        <small>A license for every use</small>
                        Who needs our services?
                        <small class="heading heading-solid center-block"></small>
                    </h1>
                </div>

                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="lead">
                        We’ve taken the guesswork out of licensing music by introducing all the rights you need for any
                        project directly from the copyright owners. Skip the research and legal bills and order your
                        license via our platform.
                    </p>
                </div>
            </div>
            <!-- title and short description end -->


            <!-- Content Box -O Center -->

            <div class="row mb40 pb20">

                <!-- Content Box Center -->
                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="icon-video color-blue"></span>
                        <h5>Film making</h5>
                        <p>Use in full-length or short film. Choose between streaming use, festival entry, wide release,
                            and/or trailer.</p> <br>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="icon-browser color-orange"></span>
                        <h5>Online series</h5>
                        <p>Use in a film, short film, <br> single episode of a TV/web/other series.</p><br><br>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="fa fa-youtube color-red"></span>
                        <h5>YouTube monetization</h5>
                        <p>Check if you are allowed to use the song with this platform before publication.</p><br><br>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="icon-megaphone color-green"></span>
                        <h5>Advertising</h5>
                        <p>Use in a project promoting a brand, product, service, promotion, company, organization, or
                            event, including fundraising and calls to action.</p>

                    </div>
                </div>

                <!-- Content Box Center Icon with Background-->
                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="icon-wine color-pasific"></span>
                        <h5>Events and Weddings</h5>
                        <p>Use in short Wedding films, trailers, or event videos. (recomended for professional video
                            editors).</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="icon-happy color-pink"></span>
                        <h5>Personal uses</h5>
                        <p>Use in a personal films for an individual or family. (e.g., presentations, life events).</p>
                        <br>
                    </div>
                </div>

                <!-- Content Box Center Icon with Border-->
                <div class="col-md-3 col-sm-6 col-xs-12 mb35">
                    <div class="content-box content-box-o content-box-center">
                        <span class="icon-toolbox"></span>
                        <h5>Corporate uses</h5>
                        <p>Use within a single company/organization. (e.g., presentations, meetings, training, and other
                            employee viewings).</p>
                    </div>
                </div>


            </div>


        </div>
    </div>
    <!-- Contact Us Area
=====================================-->
    <div id="contact" class="pt75 pb75 bt-solid-1">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">
                        Get In Touch With Us.
                        <small class="heading-desc text-lowercase">
                            Please feel free to say anything here. Our staff will reply as soon as possible. Anything!
                        </small>
                        <small class="heading heading-solid center-block"></small>
                    </h3>
                </div>
            </div>

            <div class="row mt50">
                <form name="contactform" id="contactForm" method="post" action="{% url 'contact_us' %}">
                    {% csrf_token %}
                    <!-- sender name start -->
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <input type="text" name="full_name" id="senderName"
                                   class="input-md input-rounded form-control" placeholder="fullname" maxlength="100"
                                   required>
                        </div>
                    </div>
                    <!-- sender name end -->

                    <!-- sender email start -->
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <input type="email" name="email" id="senderEmail"
                                   class="input-md input-rounded form-control" placeholder="email address"
                                   maxlength="100" required>
                        </div>
                    </div>
                    <!-- sender email end -->


                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <textarea class="form-control" name="text" id="message" rows="7" required></textarea>
                        <button type="submit" name="sendMessage" id="sendMessage"
                                class="button-3d button-md button-pasific hover-ripple-out mt20 center-block">Send
                            Message
                        </button>
                    </div>

                    <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please
                        wait...</p></div>
                    <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message!
                        We'll get back to you shortly.</p></div>
                    <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your
                        message. Please try again.</p></div>
                    <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form
                        before sending.</p></div>

                </form>
            </div>

        </div>
    </div>


    <!-- Testimonial Area
    ===================================== -->
    <div id="testimonial" class="bg-gray pt50 pb25 pl50 bb-solid-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="owlSectionThreeItem" class="owl-carousel">

                        <!-- Testimonial Item -->
                        <div class="testimonial testimonial-center">
                            <div class="testimonial-header">
                                <img src="{% static 'common/assets/img/other/photo-3.jpg' %}" alt="testimonial author"
                                     class="img-responsive img-circle">
                            </div>
                            <div class="testimonial-body">
                                <p>
                                    License It has given me the ability to streamline my workflow and never worry about
                                    properly licensing music.
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <i class="fa fa-quote-left"></i>
                                James Brinkley <a href="#">New York</a>
                            </div>
                        </div>

                        <!-- Testimonial Item -->
                        <div class="testimonial testimonial-center">
                            <div class="testimonial-header">
                                <img src="{% static 'common/assets/img/other/photo-2.jpg' %}" alt="testimonial author"
                                     class="img-responsive img-circle">
                            </div>
                            <div class="testimonial-body">
                                <p>
                                    I’ve worked with a number of different licensing companies over the last few years
                                    and I can honestly say that the team at License It delivers better and more personal
                                    service.
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <i class="fa fa-quote-left"></i>
                                Steve Austin <a href="#">Los Angeles </a>
                            </div>
                        </div>

                        <!-- Testimonial Item -->
                        <div class="testimonial testimonial-center">
                            <div class="testimonial-header">
                                <img src="{% static 'common/assets/img/other/photo-1.jpg' %}" alt="testimonial author"
                                     class="img-responsive img-circle">
                            </div>
                            <div class="testimonial-body">
                                <p>
                                    License It is so simple. That's why I love it.
                                </p>
                            </div>
                            <div class="testimonial-footer">
                                <i class="fa fa-quote-left"></i>
                                Maria Lunes <a href="#">Nashville </a>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>


{% endblock %}
