{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
        <br><br><br><br><br><br><br>
          <div class="col-md-12">
                        <h4 class="text-center text-uppercase">
                            <small class="heading heading-icon-o heading-icon-rounded center-block">
                                <i class="fa fa-music"></i>
                            </small>
                            <small>{{ song_title }}</small>
                           {{ artist }}

                        </h4>
                    </div>
         <div class="smart-wrap">
            <div class="smart-wrap">
             <div class="smart-forms smart-container wrap-2" style="box-shadow:none; background:none; margin:0px auto;">
                <div class="">
                    <h3 class="text-center text-uppercase">
                                Iquiry - extra
                                <small class="heading heading-solid center-block"></small>
                            </h3>
                <form action="{% if request.resolver_match.url_name == 'program_details' %}{% url 'program_details' order %}{% endif %}{% if request.resolver_match.url_name == 'indie_details' %}{% url 'indie_details' order %}{% endif %}{% if request.resolver_match.url_name == 'advertising_details' %}{% url 'advertising_details' order %}{% endif %}"
                      method="post">
                    {% csrf_token %}
                    <div class="form-body theme-yellow">
                        {% include 'orders/details_form_fields.html' %}
                        {% if rate_form %}
                        {% include 'orders/rate_us.html' %}
                        {% endif %}
                    </div>


                     <div class="form-footer">
                    <div class="col-md-8">
                        <button type="submit" class="button-o button-sm button-square button-pasific hover-shutter-out-vertical">continue</button>
                        <button type="button" class="button-o button-sm button-square button-dark hover-fade back-btn">back</button>
                    </div>
                    <div class="col-md-3 font-pacifico text-capitalize mr40">
part {{ page_num }} of 4
                    <div class="form-footer">

                    </div>
                </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}