            <div class="row">
                {{ details_form.errors }}
            </div>
            <div class="row">
                {{ personal_info.errors }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">number of uses</label>
                {{ details_form.number_uses }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">opening closing?</label>
                {% for check in details_form.opening_closing %}
                    <div>
                        <label class="col-sm-12" for="{{ check.id_for_label }}">
                            {{ check.choice_label }}
                            <span class="col-sm-2">{{ check.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div title="Is the song being sung by one of your characters? Is it playing without any voiceover? That is likely a featured use. However, a song is playing in the background at low volume with narration over the top, that is likely background use" class="form-group">
                <label class="col-sm-2">featured or background?</label>
                {% for check in details_form.featured_background %}
                    <div>
                        <label class="col-sm-12" for="{{ check.id_for_label }}">
                            {{ check.choice_label }}
                            <span class="col-sm-2">{{ check.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label class="col-sm-2">song version</label>
                {% for check in details_form.song_version %}
                    <div class="form-group">
                        <label class="col-sm-12" for="{{ check.id_for_label }}">
                            {{ check.choice_label }}
                            <span class="col-sm-2">{{ check.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2">start duration</label>
                    {{ details_form.start_duration }}
                </div>
                <div class="form-group">
                    <label class="col-sm-2">end duration</label>
                    {{ details_form.end_duration }}
                </div>
                <div class="form-group">
                    <label class="col-sm-12">term</label>
                    <span class="col-sm-12">State how long you would like to license the song for your project</span>
                    {{ details_form.term }}
                </div>
                <div class="form-group">
                    <label for="id_territory" class="col-sm-2 control-label">
                        territory <span>State where you would like the rights to use music in your project</span>
                    </label>
                    <div class="col-sm-10">
                        <input id="id_territory" list="territory" name="territory"
                               class="form-control" value="{{ details_form.territory.value }}">
                    </div>
                    <datalist id="territory">
                        {% for territory in details_form.territory %}
                            <option {% if territory.choice_label == 'United States' %}
                                id="usa"
                            {% endif %}>{{ territory.choice_label }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div id="usa_states" class="form-group">
                    <label for="id_states" class="col-sm-2 control-label">states</label>
                    {{ details_form.territory_usa }}
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2">release date</label>
                    {{ details_form.release_date }}
                </div>
                <div title="Publishers and record companies use budget to estimate viewership" class="form-group">
                    <label class="col-sm-2">budget</label>
                    {% for radio in details_form.budget %}
                        <div>
                            <label class="col-sm-12" for="{{ radio.id_for_label }}">
                                {{ radio.choice_label }}
                                <span class="col-sm-2">{{ radio.tag }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2">synopsis</label>
                    {{ details_form.synopsis }}
                </div>
                <div class="form-group">
                    <label class="col-sm-2">description</label>
                    {{ details_form.description }}
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2">purpose?</label>
                    {% for radio in details_form.is_non_profit %}
                        <div>
                            <label class="col-sm-12" for="{{ radio.id_for_label }}">
                                {{ radio.choice_label }}
                                <span {% if radio.choice_label == 'yes' %}
                                    id="is-non-profit"
                                {% else %}
                                    id="is-not-non-profit"
                                {% endif %} class="col-sm-2">{{ radio.tag }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div id="non-profit" class="form-group">
                    <label class="col-sm-2">non profit</label>
                    {% for radio in details_form.non_profit %}
                        <div>
                            <label class="col-sm-12" for="{{ radio.id_for_label }}">
                                {{ radio.choice_label }}
                                <span class="col-sm-2">{{ radio.tag }}</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                <label class="col-sm-2">comments?</label>
                {{ details_form.comments }}
            </div>
        {% if not request.user.is_authenticated %}
            <fieldset>
                <div class="form-group">
                    <label for="id_first_name">first name</label>
                    <input type="text" id="id_first_name" name="first_name"
                           value="{{ first_name }}" placeholder="first name" required>
                </div>
                <div class="form-group">
                    <label for="id_last_name">last name</label>
                    <input type="text" id="id_last_name" name="last_name"
                           value="{{ last_name }}" placeholder="last name" required>
                </div>
                <div class="form-group">
                    <label for="id_email">email</label>
                    <input type="email" id="id_email" name="email"
                           value="{{ email }}" placeholder="username@example.com" required>
                </div>
                <div class="form-group">
                    <label for="id_address">address</label>
                    {{ personal_info.address }}
                </div>
                <div class="form-group">
                    <label for="id_password">password</label>
                    <input type="password" id="id_password" name="password"
                           value="" required>
                </div>
                <div class="form-group">
                    <label for="id_confirm_password">confirm password</label>
                    <input type="password" id="id_confirm_password" name="confirm_password"
                           value="" required>
                </div>
            </fieldset>
        {% endif %}
            <div class="form-group">
                <label class="col-sm-2">rate us</label>
                {% for radio in details_form.rate %}
                    <div>
                        <label class="col-sm-12" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                            <span class="col-sm-2">{{ radio.tag }}</span>
                        </label>
                    </div>
                {% endfor %}

            </div>
