{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
        <br><br><br><br><br><br><br>
        <div class="smart-wrap">
            <div class="smart-forms smart-container wrap-4">
                <div class="form-header header-yellow">
                    <h4><i class="fa fa-pencil-square"></i>order details</h4>
                </div>
                <form action="{% if request.resolver_match.url_name == 'program_details' %}{% url 'program_details' order %}{% endif %}{% if request.resolver_match.url_name == 'indie_details' %}{% url 'indie_details' order %}{% endif %}{% if request.resolver_match.url_name == 'advertising_details' %}{% url 'advertising_details' order %}{% endif %}"
                      method="post">
                    {% csrf_token %}
                    <div class="form-body theme-yellow">
                        {% include 'orders/details_form_fields.html' %}
                        {% if rate_form %}
                        {% include 'orders/rate_us.html' %}
                        {% endif %}
                    </div>
                    <div class="form-footer">
                        <button class="btn btn-success">continue</button>
                        <button type="reset" class="btn btn-warning">reset</button>
                        part {{ page_num }} of 4
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}