{% if web %}
    <div class="row alert alert-danger">
        {{ web.errors }}
    </div>
    <div class="section">
        <div class="spacer-t30 spacer-b30">
                    	<div class="tagline"><span> where exactly online? </span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                    	<p class="small-text fine-grey align-center">Inline options - choose a method of payment below </p>
                    </div><!-- end section -->
        <div class="option-group field">
            <div">
                <label class="field-label"></label>
                {% for check in web.distribute_on %}
                    <label class="option" style="margin: 7px;">
                        {{ check.tag }}
                        <span class="checkbox"></span>{{ check.choice_label }}
                    </label>
                {% endfor %}
                <label class="option" for="other">
                    <input id="other" name="web_other" type="checkbox">
                    <span class="checkbox"></span>other
                    <label id="other_web" class="field">
                        <input class="gui-input inline" style="display: inline-flex; vertical-align:baseline;" type="text" name="distribute_new" value="">
                    </label>

                </label>
            </div>
        </div>
        <div id="id_youtube" class="section">
            <div class="option-group field">
                <label class="field" style="margin: 10px; width: 40%;" for="id_youtube_id">
                    youtube id
                    {{ web.youtube_id }}
                </label>
            </div>
        </div>
    </div>
{% endif %}
{% if ext %}
    <div class="section">
        <div class="spacer-t30 spacer-b30">
                    	<div class="tagline"><span> where exactly externally? </span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                    	<p class="small-text fine-grey align-center">Inline options - choose a method of payment below </p>
                    </div><!-- end section -->
        <div class="option-group field">
            <div>
                <label class="field-label"></label>
                {% for check in ext.name %}
                    <label class="option" style="margin: 12px;">
                        {{ check.tag }}
                        <span class="checkbox"></span>{{ check.choice_label }}
                    </label>
                {% endfor %}
                <label class="option" for="ext_other">
                    <input id="ext_other" name="ext_other" type="checkbox">
                    <span class="checkbox"></span>other
                    <label id="dist_other" class="field">
                        <input class="gui-input" style="display: inline-flex; vertical-align:baseline;" type="text" name="dist_new" value="">
                    </label>
                </label>
            </div>
        </div>
    </div>
    <div class="section">
        <label class="field-label spacer-t20 spacer-b20" style="text-transform: uppercase; color:#ff4530" for="id_num_people">number of people</label>
        {{ ext.num_people }}
    </div>
{% endif %}
{% if tv %}
    <div class="section">
        {{ tv.errors }}
    </div>
    <div class="section">
        <div class="spacer-t30 spacer-b30">
                    	<div class="tagline"><span> TV & Trailer </span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                    	<p class="small-text fine-grey align-center">Do you need a license for the trailer, the full show or
            both? </p>
                    </div><!-- end section -->
    <div class="group">
        <label class="field-label" for="id_distribute_on"></label>
        <label class="option" for="id_tv_trailer">
            {{ tv.tv_trailer }}
            <span class="checkbox"></span>tv trailer
        </label>
        <label class="option" for="id_tv_program">
            {{ tv.tv_program }}
            <span class="checkbox"></span>tv program
        </label>
    </div>
    </div>
{% endif %}
