{% if web %}
    <div class="row">
        {{ web.errors }}
    </div>
    <div class="section">
        <div class="option-group field">
            <div class="group-vertical">
                <label class="field-label">where exactly online?</label>
                {% for check in web.distribute_on %}
                    <label class="option">
                        {{ check.tag }}
                        <span class="checkbox"></span>{{ check.choice_label }}
                    </label>
                {% endfor %}
                <label class="option" for="other">
                    <input id="other" name="web_other" type="checkbox">
                    <span class="checkbox"></span>other
                    <label id="other_web" class="field">
                        <input class="gui-input" type="text" name="distribute_new" value="">
                    </label>

                </label>
            </div>
        </div>
        <div id="id_youtube" class="section">
            <div class="option-group field">
                <label class="field" for="id_youtube_id">
                    youtube id
                    {{ web.youtube_id }}
                </label>
            </div>
        </div>
    </div>
{% endif %}
{% if ext %}
    <div class="section">
        <div class="option-group field">
            <div class="group-vertical">
                <label class="field-label">where exactly externally?</label>
                {% for check in ext.name %}
                    <label class="option">
                        {{ check.tag }}
                        <span class="checkbox"></span>{{ check.choice_label }}
                    </label>
                {% endfor %}
                <label class="option" for="ext_other">
                    <input id="ext_other" name="ext_other" type="checkbox">
                    <span class="checkbox"></span>other
                    <label id="dist_other" class="field">
                        <input class="gui-input" type="text" name="dist_new" value="">
                    </label>
                </label>
            </div>
        </div>
    </div>
    <div class="section">
        <label class="field-label" for="id_num_people">number of people</label>
        {{ ext.num_people }}
    </div>
{% endif %}
{% if tv %}
    <div class="section">
        {{ tv.errors }}
    </div>
    <div class="section">
    <div class="group-vertical">
        <label class="field-label" for="id_distribute_on">Do you need a license for the trailer, the full show or
            both?</label>
        <label class="option" for="id_tv_trailer">
            {{ tv.tv_trailer }}
            <span class="checkbox"></span>tv trailer
        </label>
        <label class="option" for="id_tv_program">
            {{ tv.tv_program }}
            <span class="checkbox"></span>tv program
        </label>
    </div>
    </div>
{% endif %}
