{% if indie_form.errors %}
<div class="row alert alert-danger">
    {{ indie_form.errors }}
</div>
{% endif %}
 <div class="spacer-t20 spacer-b20">
                        <div class="tagline"><span> Production Name </span></div><!-- .tagline -->
                    </div><!-- end section -->
<div class="section">
    <div class="smart-widget sm-left sml-120">
    <label class="field-label" for="id_production_name"></label>
    {{ indie_form.production_name }}
        <label for="sm" class="button"> Name </label>
    </div>
</div>


   <div class="spacer-t40 spacer-b40">
                        <div class="tagline"><span> Review &amp; Rating Widget </span></div><!-- .tagline -->

                    </div><!-- end .spacer section -->
<div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
</div><!-- end section -->

                    <div class="frm-row align-center">
                        <div class="section colm colm4 pad-r40 bdr">

                            <h5 class="text-center">
                        film length
                            </h5>

   <label class="field-label" for="id_film_length"></label>
    <div class="option-group field">
       <div class="group-vertical">
            {% for radio in indie_form.film_length %}
                <label class="switch block" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="switch-label" data-on="YES" data-off="NO"></span>{{ radio.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
                        </div>
 <div class="section colm colm5 pad-l40 bdr">
       <h5 class="text-center">
                        Film Programming


       </h5>
    <label class="field-label" for="id_film_programming"></label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for radio in indie_form.film_programming %}
                <label class="switch block" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="switch-label" data-on="YES" data-off="NO"></span>{{ radio.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>

 <div class="section colm colm3 pad-l40">
     <h5 class="text-center">
                        Film trailer


       </h5>
    <label class="field-label" for="id_film_trailer"></label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for radio in indie_form.film_trailer %}
                <label class="switch block" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="switch-label" data-on="YES" data-off="NO"></span>{{ radio.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
      </div>
<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> distribution </span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->

<label class="field-label" for="id_distribution">

</label>
<div class="option-group field">
    <div class="smart-option-group smart-option-list group-vertical">
        {% for option in indie_form.distribution.field.choices.queryset %}
            <label title="{{ option.explanation }}" class="option" >
                <input type="checkbox" name="distribution"
                       value="{{ option.id }}">
                <span class="smart-option smart-checkbox">
                    <span class="smart-option-ui">
                        {{ option.name }}
                        <span class="iconc-pos"> <i class="fa fa-check"></i> </span>
                    </span>
                </span>
            </label>
        {% endfor %}
    </div>
</div>


<!-- <div class="frm-row">
 <div class="section colm colm12">
    <label class="field-label" for="id_distribution"></label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for check in indie_form.distribution %}
                <label title="{{ check.title }}" class="option" for="{{ check.id_for_label }}">
                    {{ check.tag }}
                    <span class="checkbox"></span>{{ check.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>-->
 </div>
