<div class="row">
    {{ indie_form.errors }}
</div>
<div class="section">
    <label class="field-label" for="id_production_name">production name</label>
    {{ indie_form.production_name }}
</div>
<div class="section">
    <label class="field-label" for="id_film_length">film length</label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for radio in indie_form.film_length %}
                <label class="option" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="radio"></span>{{ radio.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section">
    <label class="field-label" for="id_film_programming">film programming</label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for radio in indie_form.film_programming %}
                <label class="option" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="radio"></span>{{ radio.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section">
    <label class="field-label" for="id_film_trailer">film trailer</label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for radio in indie_form.film_trailer %}
                <label class="option" for="{{ radio.id_for_label }}">
                    {{ radio.tag }}
                    <span class="radio"></span>{{ radio.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
<div class="section">
    <label class="field-label" for="id_distribution">distribution</label>
    <div class="option-group field">
        <div class="group-vertical">
            {% for check in indie_form.distribution %}
                <label title="{{ check.title }}" class="option" for="{{ check.id_for_label }}">
                    {{ check.tag }}
                    <span class="checkbox"></span>{{ check.choice_label }}
                </label>
            {% endfor %}
        </div>
    </div>
</div>
