<div class="row">
    <div class="col-md-6">{{ order_form.errors }}</div>
</div>
<div class="section">
    <label class="field">
        {{ order_form.song_title }}
    </label>
</div>
<div class="section">
    <label class="field">
        {{ order_form.performer_name }}
    </label>
</div>


 <div class="spacer-b30">
                        <div class="tagline"><span> What type of project are you working on? </span></div><!-- .tagline -->
                    </div>
<div class="section">
    <div class="option-group field center-block align-center">
     <div class="smart-option-group">
            {% for option in order_form.project_type.field.choices.queryset %}
                <label title="{{ option.explanation }}" for="{{ option.slug }}"
                       class="option" style="margin:7px;">
                    <input type="radio" id="{{ option.slug }}" name="project_type"
                           value="{{ option.id }}" {% if order_form.project_type.value == option.id %}checked{% endif %}>
                    <span class="smart-option smart-radio">
                        <span class="smart-option-ui"> <i class="iconc"></i> {{ option.name }}</span>
                    </span>
                </label>
            {% endfor %}
        </div>
    </div>
</div>
