{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br>
        <form action="{% if song_id %}{% url 'order' song_id %}{% else %}{% url 'manual_order' %}{% endif %}" method="post">
            {% csrf_token %}
            {% include 'orders/order_form_fields.html' %}
            <div class="row">
                <button type="submit" class="btn btn-success">submit</button>
                <button type="reset" class="btn btn-warning">reset</button>
            </div>
        </form>
    </div>
{% endblock %}