{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
        <br><br><br><br><br>
         <div class="col-md-12">
                        <h4 class="text-center text-uppercase">
                            <small class="heading heading-icon-o heading-icon-rounded center-block">
                                <i class="fa fa-music"></i>
                            </small>
                            <small>{{ song_title }}</small>
                           {{ artist }}

                        </h4>
                    </div>
       <div class="smart-wrap">
            <div class="smart-forms smart-container wrap-2" style="box-shadow:none; background:none; margin:0px auto;">



                <div class="">
                    <h3 class="text-center text-uppercase">
                                license iquiry
                                <small class="heading heading-solid center-block"></small>
                            </h3>
                </div><!-- end .form-header section -->
            <form action="{% if song_id %}{% url 'order' song_id %}{% else %}{% url 'manual_order' %}{% endif %}" method="post">
                {% csrf_token %}
                <div class="form-body theme-yellow">
                    {% include 'orders/order_form_fields.html' %}
                </div>
                <div class="form-footer">
                    <div class="col-md-8">
                        <button type="submit" class="button-o button-sm button-square button-pasific hover-shutter-out-vertical">continue</button>
                        <button type="reset" class="button-o button-sm button-square button-dark hover-fade">reset</button>
                    </div>
                    <div class="col-md-3 font-pacifico text-capitalize mr40">
                        part 1 of <span id="num_forms">4</span>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>




<div class="container">
                <div class="row pt50 pb40">
                    <h4 class="text-center mb40">Teach me more about each use</h4>

                    <div class="col-md-4 col-sm-6 col-xs-12 mb35">
                        <div class="content-box content-box-icon-o content-box-left-icon">
                            <span class="icon-video color-blue"></span>
                            <h5>Film making</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mb35">
                        <div class="content-box content-box-icon-o content-box-left-icon">
                            <span class="icon-megaphone color-green"></span>
                            <h5>Advertising</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 mb35">
                        <div class="content-box content-box-icon-o content-box-left-icon">
                            <span class="icon-browser color-orange"></span>
                            <h5>Programming</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-icon-o content-box-left-icon">
                            <i class="icon-wine color-pasific"></i>
                            <h5>Wedding</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-icon-o content-box-left-icon">
                            <i class="icon-happy color-pink"></i>
                            <h5>Personal use / life Event</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-icon-o content-box-left-icon">
                            <i class="fa fa-youtube color-red"></i>
                            <h5>Youtube monetization</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>



                </div>
            </div>
{% endblock %}