{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br>
        <form class="form-horizontal" action="{% url 'programming' order %}" method="post">
            {% csrf_token %}
            {% include 'orders/program_form_fields.html' %}
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success">continue</button>
                    <button type="reset" class="btn btn-warning">reset</button>
                </div>
                <div class="col-md-3">
                    part 2 of 4
                </div>
            </div>
        </form>
    </div>
{% endblock %}