{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br>
        <form class="form-horizontal" action="{% url 'advertising' order %}" method="post">
            {% csrf_token %}
            {% include 'orders/advertising_form_fields.html' %}
            <div class="row">
                <button class="btn btn-success">continue</button>
                <button type="reset" class="btn btn-warning">reset</button>
            </div>
        </form>
    </div>
{% endblock %}