<div class="row alert alert-danger">
    {{ personal_form.errors }}
</div>
<div class="row">
    {{ personal_info.errors }}
</div>

<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> Platforms</span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->
<div class="section">

    {{ personal_form.platform }}
</div>

<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> purpose</span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->
<div class="section">

    {{ personal_form.purpose }}
</div>

<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> territory</span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->
<div class="section">

    <input id="id_territory" name="territory"
           class="gui-input" value="{{ personal_form.territory.value }}">
</div>
<div id="usa_states" class="section">
    <label for="id_states" class="gui-input">states</label>
    <input id="id_states" name="territory_usa" class="gui-input">
</div>
