<div class="row">
    {{ personal_form.errors }}
</div>
<div class="row">
    {{ personal_info.errors }}
</div>
<div class="section">
    <label class="field-label">platform</label>
    {{ personal_form.platform }}
</div>
<div class="section">
    <label class="field-label">purpose</label>
    {{ personal_form.purpose }}
</div>
<div class="section">
    <label for="id_territory" class="field-label">territory</label>
    <input id="id_territory" name="territory"
           class="gui-input" value="{{ personal_form.territory.value }}">
</div>
<div id="usa_states" class="section">
    <label for="id_states" class="gui-input">states</label>
    <input id="id_states" name="territory_usa" class="gui-input">
</div>
{% if not request.user.is_authenticated %}
        <div class="section">
            <label class="field-label" for="id_first_name">first name</label>
            <input class="gui-input" type="text" id="id_first_name" name="first_name"
                   value="{{ first_name }}" placeholder="first name" required>
        </div>
        <div class="section">
            <label class="field-label" for="id_last_name">last name</label>
            <input type="text" id="id_last_name" name="last_name"
                   value="{{ last_name }}" placeholder="last name" required>
        </div>
        <div class="section">
            <label class="field-label" for="id_email">email</label>
            <input class="gui-input" type="email" id="id_email" name="email"
                   value="{{ email }}" placeholder="username@example.com" required>
        </div>
        <div class="section">
            <label class="field-label" for="id_address">address</label>
            {{ personal_info.address }}
        </div>
        <div class="section">
            <label class="field-label" for="id_password">password</label>
            <input class="gui-input" type="password" id="id_password" name="password"
                   value="" required>
        </div>
        <div class="section">
            <label class="field-label" for="id_confirm_password">confirm password</label>
            <input class="gui-input" type="password" id="id_confirm_password" name="confirm_password"
                   value="" required>
        </div>
{% endif %}
