<div class="row">
    {{ personal_form.errors }}
</div>
<div class="row">
    {{ personal_info.errors }}
</div>
<div class="section">
    <label class="field-label">platform</label>
    {{ personal_form.platform }}
</div>
<div class="section">
    <label class="field-label">purpose</label>
    {{ personal_form.purpose }}
</div>
<div class="section">
    <label for="id_territory" class="field-label">territory</label>
    <input id="id_territory" name="territory"
           class="gui-input" value="{{ personal_form.territory.value }}">
</div>
<div id="usa_states" class="section">
    <label for="id_states" class="gui-input">states</label>
    <input id="id_states" name="territory_usa" class="gui-input">
</div>
