{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br><br>
        <div class="smart-wrap">
            <div class="smart-forms smart-container wrap-4">
                <div class="form-header header-yellow">
                    <h4><i class="fa fa-pencil-square"></i>distribution data</h4>
                </div>
                <form action="{% url 'prog_dist' order %}" method="post">
                    {% csrf_token %}
                    {% include 'orders/distribution_form_fields.html' %}
                    <div class="form-footer">
                        <button class="btn btn-yellow">continue</button>
                        <button type="reset" class="btn btn-warning">reset</button>
                        part 3 of 4
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}