{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br>
        <form class="form-horizontal" action="{% url 'program_details' pk order %}" method="post">
            {% csrf_token %}
            <div class="row">
                form
                {{ form.errors }}
            </div>
            <div class="row">
                personal
                {{ personal_info.errors }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">number of uses</label>
                {{ form.number_uses }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">opening closing?</label>
                {% for check in form.opening_closing %}
                    <div>
                        <label class="col-sm-12" for="{{ check.id_for_label }}">
                            {{ check.choice_label }}
                            <span class="col-sm-2">{{ check.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label class="col-sm-2">featured or background?</label>
                {% for check in form.featured_background %}
                    <div>
                        <label class="col-sm-12" for="{{ check.id_for_label }}">
                            {{ check.choice_label }}
                            <span class="col-sm-2">{{ check.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label class="col-sm-2">song version</label>
                {% for check in form.song_version %}
                    <div class="form-group">
                        <label class="col-sm-12" for="{{ check.id_for_label }}">
                            {{ check.choice_label }}
                            <span class="col-sm-2">{{ check.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2">duration</label>
                {{ form.duration }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">term</label>
                {{ form.term }}
            </div>
            <div class="form-group">
                <label for="id_territory" class="col-sm-2 control-label">territory</label>
                    <div class="col-sm-10">
                        <input id="id_territory" list="territory" name="territory"
                               class="form-control">
                    </div>
                <datalist id="territory">
                {% for territory in form.territory %}
                    <option {% if territory.choice_label == 'United States' %}
                        id="usa"
                    {% endif %}>{{ territory.choice_label }}</option>
{#                    {{ territory.tag }}#}
{#                    <option {% if territory.tag == 'United States' %}#}
{#                        id="usa"#}
{#                    {% endif %} value="{{ territory.index}}">{{ territory.tag }}</option>#}
                {% endfor %}
                </datalist>
            </div>
            <div id="usa_states" class="form-group">
                <label for="id_states" class="col-sm-2 control-label">states</label>
                    <div class="col-sm-10">
                        <input id="id_states" list="states" name="territory_usa" class="form-control">
                    </div>
                <datalist id="states">
                {% for territory in form.territory_usa %}
                    <option value="{{ territory.index}}">{{ territory.tag }}</option>
                {% endfor %}
                </datalist>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2">release date</label>
                {{ form.release_date }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">budget</label>
                {% for radio in form.budget %}
                    <div>
                        <label class="col-sm-12" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                            <span class="col-sm-2">{{ radio.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2">synopsis</label>
                {{ form.synopsis }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">description</label>
                {{ form.description }}
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="col-sm-2">is for non profit?</label>
                {{ form.is_non_profit }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">non profit</label>
                {% for radio in form.non_profit %}
                    <div>
                        <label class="col-sm-12" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                            <span class="col-sm-2">{{ radio.tag }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
            <div class="form-group">
                <label class="col-sm-2">comments?</label>
                {{ form.comments }}
            </div>
        <fieldset>
            <div class="form-group">
                <label for="id_first_name">first name</label>
                <input type="text" id="id_first_name" name="first_name"
                       value="{{ first_name }}" placeholder="first name" required>
            </div>
            <div class="form-group">
                <label for="id_last_name">last name</label>
                <input type="text" id="id_last_name" name="last_name"
                       value="{{ last_name }}" placeholder="last name" required>
            </div>
            <div class="form-group">
                <label for="id_email">email</label>
                <input type="email" id="id_email" name="email"
                       value="{{ email }}" placeholder="username@example.com" required>
            </div>
            <div class="form-group">
                <label for="id_address">address</label>
                {{ personal_info.address }}
            </div>
            <div class="form-group">
                <label for="id_password">password</label>
                <input type="password" id="id_password" name="password"
                       value="" required>
            </div>
            <div class="form-group">
                <label for="id_confirm_password">confirm password</label>
                <input type="password" id="id_confirm_password" name="confirm_password"
                       value="" required>
            </div>
        </fieldset>
            <div class="form-group">
                <label class="col-sm-2">rate us</label>
                {% for radio in form.rate %}
                    <div>
                        <label class="col-sm-12" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                            <span class="col-sm-2">{{ radio.tag }}</span>
                        </label>
                    </div>
                {% endfor %}

            </div>
            <div class="row">
                <button type="submit" class="btn btn-success">submit</button>
                <button type="reset" class="btn btn-warning">reset</button>
            </div>
        </form>
    </div>
{% endblock %}