<div class="row">
    {{ wedding_form.errors }}
</div>
<div class="row">
    {{ personal_info.errors }}
</div>

<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> platform </span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->
<div class="section">

    {{ wedding_form.platform }}
</div>

<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> number of uses</span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->
<div class="section">

    {{ wedding_form.num_uses }}
</div>


<div class="spacer-t40 spacer-b20">
                        <div class="tagline"><span> territory </span></div><!-- .tagline -->
                    </div><!-- end section -->

                    <div class="section">
                        <p class="small-text fine-grey align-center"> Pure CSS3 Button Radios + Checkboxes </p>
                    </div><!-- end section -->
<div class="section">

    <input id="id_territory" name="territory"
           class="gui-input" value="{{ wedding_form.territory.value }}">
</div>
<div id="usa_states" class="section">
    <label for="id_states" class="field-label">states</label>
    {{ wedding_form.territory_usa }}
</div>
