<div class="row">
    {{ wedding_form.errors }}
</div>
<div class="row">
    {{ personal_info.errors }}
</div>
<div class="section">
    <label class="field-label">platform</label>
    {{ wedding_form.platform }}
</div>
<div class="section">
    <label class="field-label">number of uses</label>
    {{ wedding_form.num_uses }}
</div>
<div class="section">
    <label for="id_territory" class="field-label">territory</label>
    <input id="id_territory" name="territory"
           class="gui-input" value="{{ wedding_form.territory.value }}">
</div>
<div id="usa_states" class="section">
    <label for="id_states" class="field-label">states</label>
    {{ wedding_form.territory_usa }}
</div>
