{% extends 'common/common_base.html' %}
{% block content %}
    <div class="container">
    <br><br><br><br><br>
        <form class="form-horizontal" action="{% url 'wedding' pk order %}" method="post">
            {% csrf_token %}
            <div class="row">
                {{ form.errors }}
            </div>
            <div class="row">
                {{ personal_info.errors }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">platform</label>
                {{ form.platform }}
            </div>
            <div class="form-group">
                <label class="col-sm-2">number of uses</label>
                {{ form.num_uses }}
            </div>
            <div class="form-group">
                <label for="id_territory" class="col-sm-2 control-label">territory</label>
                    <div class="col-sm-10">
                        <input id="id_territory" list="territory" name="territory"
                               class="form-control">
                    </div>
                <datalist id="territory">
                {% for territory in form.territory %}
                    <option {% if territory.choice_label == 'United States' %}
                        id="usa"
                    {% endif %}>{{ territory.choice_label }}</option>
                {% endfor %}
                </datalist>
            </div>
            <div id="usa_states" class="form-group">
                <label for="id_states" class="col-sm-2 control-label">states</label>
                    <div class="col-sm-10">
                        <input id="id_states" list="states" name="territory_usa" class="form-control">
                    </div>
                <datalist id="states">
                {% for territory in form.territory_usa %}
                    <option value="{{ territory.index}}">{{ territory.tag }}</option>
                {% endfor %}
                </datalist>
            </div>
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="id_first_name">first name</label>
                <input class="form-control" type="text" id="id_first_name" name="first_name"
                       value="{{ first_name }}" placeholder="first name" required>
            </div>
            <div class="form-group">
                <label for="id_last_name">last name</label>
                <input type="text" id="id_last_name" name="last_name"
                       value="{{ last_name }}" placeholder="last name" required>
            </div>
            <div class="form-group">
                <label for="id_email">email</label>
                <input type="email" id="id_email" name="email"
                       value="{{ email }}" placeholder="username@example.com" required>
            </div>
            <div class="form-group">
                <label for="id_address">address</label>
                {{ personal_info.address }}
            </div>
            <div class="form-group">
                <label for="id_password">password</label>
                <input type="password" id="id_password" name="password"
                       value="" required>
            </div>
            <div class="form-group">
                <label for="id_confirm_password">confirm password</label>
                <input type="password" id="id_confirm_password" name="confirm_password"
                       value="" required>
            </div>
        </fieldset>
            <div class="row">
                <button type="submit" class="btn btn-success">submit</button>
                <button type="reset" class="btn btn-warning">reset</button>
            </div>
        </form>
    </div>
{% endblock %}