{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Intro Area
===================================== -->
    <div class="pt100 pb100 bg-grad-mojito">

        <div class="container">
            <div class="row">
                <div class="col-md-12 pt50 text-center">
                    <h1 class="brand-heading font-montserrat text-uppercase color-light" data-in-effect="fadeInDown">
                        Frequenlty Asked Questions.</h1>
                </div>

            </div>


            <div class="row mt35">

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="panel-group" id="accordion5">

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse13" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion5">One song, two types of rights</a>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    There are 2 types of copyrights for music: the copyright for the musical
                                    composition, usually owned by the composer and the publisher, and the copyright for
                                    the sound recording, usually owned by the performer or the label. The musical
                                    composition copyright covers things such as a song’s notes, song structure, melody
                                    and lyrics, and may be fixed in the form of sheet music or recorded audio. The sound
                                    recording copyright is a particular performance of a song, fixed when it is
                                    recorded. In either case, fixation happens when it takes a form that allows another
                                    person to read or hear the music.
                                    If you write an original song and record yourself singing it, you will have two
                                    copyrights: one for the musical composition and another for the sound recording.
                                    If you record a cover of a song (your original take on a song), you will own a
                                    copyright for that recording. Your version of that song will be yours as long as the
                                    copyright lasts, provided that you don't sell the rights off to someone.
                                    In this way, there can be many many copyrights for a recording of a song, but only
                                    one copyright for the song’s composition.

                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse14" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion5">What music can I license?</a>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> Every track you find on our web site is fully available to license negotiation. Our experts will deliver you a tailor-made license by your requirements.
                                        We have millions of popular tracks available, including current hits and back catalog,
                                        and we’re continually expanding our list of songs on offer.</p>


                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse15" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion5">What rights do you provide?</a>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We provide what is known as a “sync” license. It allows you to use the music as background in a video or photomontage production. Legally, this consists of two parts: a Master Use license which allows you to use the recording, and a Composition license which allows you to use the song and lyrics. The first is typically negotiated with a music label, and the second with a music publisher.

                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse16" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion5">About LicenseIt Licensing</a>
                            </div>
                            <div id="collapse16" class="panel-collapse collapse">
                                <div class="panel-body">
                                    LicenseIt Licensing is a platform that facilitates licensing and royalty
                                    administration between copyright owners and anyone who wants to license the use of
                                    music works. We offer this service at no cost to publishers.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse17" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion5">How much does it cost?</a>
                            </div>
                            <div id="collapse17" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p> The price of a license depends on how you want to use the music, with discounts for bulk purchases.</p>
                                    <p>
                                    <ul class="p10">
                                        As a minimum, publishing data should contain the following information to help
                                        us identify:

                                        <li> Song Title</li>
                                        <li>Songwriter(s)/Composer(s)</li>
                                        <li> Publisher(s)</li>
                                        <li> US Mechanical Administrative Share (Percentage You Own)
                                            The following information isn't required, but it's a bonus if you have it as
                                            these fields help us better identify uses of your songs:
                                            Track Title
                                        </li>
                                        <li>Names of Artist(s) Who Have Recorded The Song</li>
                                        <li> Album Title(s)</li>
                                        <li>Record Label(s)</li>
                                        <li>ISRC(s) and/or UPC(s)</li>
                                    </ul>
                                    <b>Got questions? Email publishers@LicenseIt.fm for additional information.</b>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="panel-group" id="accordion6">

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse18" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion6">Why you need a license?</a>
                            </div>
                            <div id="collapse18" class="panel-collapse collapse">
                                <div class="panel-body">
                                    U.S. copyright law requires you to obtain permission (a license) from the owners of
                                    a song when you use it in any way shape or form.
                                    Licensing enables you to legally sell your creation. It allows you to promote your
                                    music without worrying about getting a cease-and-desist notice or waking up to
                                    discover that your account has been deleted because your track was abruptly yanked
                                    from all platforms.
                                    It also makes you an awesome person because you'll have done your part to ensure
                                    that the original songwriters get paid royalties for their hard work.

                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse19" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion6">Types of songs that can be licensed
                                    through LicenseIt</a>
                            </div>
                            <div id="collapse19" class="panel-collapse collapse in active">
                                <div class="panel-body">
                                    You can license any song through LicenseIt, including songs made famous by some of
                                    the world's most well-known and loved artists. We'll be able to secure the
                                    appropriate a license for you.
                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse20" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion6">Synchronization rights </a>
                            </div>
                            <div id="collapse20" class="panel-collapse collapse">
                                <div class="panel-body">
                                    music synchronization license, or "sync" for short, is a music license granted by
                                    the holder of the copyright of a particular composition, allowing the licensee to
                                    synchronize ("sync") music with some kind of visual media output (film, television
                                    shows, advertisements, video games, accompanying website music, movie trailers,
                                    etc.).
                                    synchronization licensing
                                    the licensing of musical works to be synchronized with moving pictures as background
                                    in a motion picture, television program, video, DVD, etc

                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse21" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion6">Do I Need a License to Use Music in
                                    My YouTube Video?</a>
                            </div>
                            <div id="collapse21" class="panel-collapse collapse">
                                <div class="panel-body">
                                    es, but...

                                    A video with music contains three copyrights: the video images, the sound recording,
                                    and the underlying song composition (music publishing rights). In a video where you
                                    are performing a cover song, you might control the copyrights to the video images
                                    and sound recording but don’t control the music publishing copyrights. To use the
                                    song composition, you need to negotiate a synchronization license directly with the
                                    music publisher.


                                </div>
                            </div>
                        </div>

                        <div class="panel">
                            <div class="panel-heading">
                                <a href="#collapse22" class="collapsed accordian-toggle-chevron-left"
                                   data-toggle="collapse" data-parent="#accordion6">Sync negotiations and fees</a>
                            </div>
                            <div id="collapse22" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When an audio/visual project producer wants to use a recording in their work, they
                                    must contact both the owner of the sound recording (record label), and the owner of
                                    the composition (songwriter via publishing company). In many cases, producers with
                                    tight budgets will elect to use a cover version of a particular song in order to
                                    save money on the master side. Once the producer has made an inquiry with the
                                    copyright administrator (and additionally the record label if they choose to use a
                                    famous recording), the rights holder or administrator issues a quote, usually for a
                                    one-time fee. This can initiate negotiations, whose points of interest usually
                                    include things like how the work is being used, the length of the segment, the
                                    prominence of the cue (whether used as background music, or as the title track
                                    during the credits), and the overall popularity and importance of the song or
                                    recording. Sync licensing fees can range anywhere from free, to a few hundred
                                    dollars, to tens of thousands of dollars for popular recordings of songs: in the
                                    last case, the producer must pay for both the use of the master and the composition.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}