{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% load license_it_user_image %}
{% block content %}
    <div id="edit_user" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>edit personal details</h4>
                </div>
                <div class="modal-body">
                    <div class="smart-wrap">
                        <div class="smart-forms wrap-4">
                            <form method="post" action="{% url 'edit_user' %}">
                                {% csrf_token %}
                                <input type="hidden" name="date_joined" value="{{ user_data.date_joined.value }}">
                                <input type="hidden" name="username" value="{{ user_data.email.value }}">
                                <div class="form-body theme-yellow">
                                    <div class="section">
                                        <label class="field-label" for="id_first_name">first name</label>
                                        <input class="gui-input" type="text" id="id_first_name" name="first_name"
                                               value="{{ user_data.first_name.value }}" placeholder="first name"
                                               required>
                                    </div>
                                    <div class="section">
                                        <label class="field-label" for="id_last_name">last name</label>

                                        <input class="gui-input" type="text" id="id_last_name" name="last_name"
                                               value="{{ user_data.last_name.value }}" placeholder="last name" required>
                                    </div>
                                    <div class="section">
                                        <label class="field-label" for="id_email">email</label>
                                        <input class="gui-input" type="email" id="id_email" name="email"
                                               value="{{ user_data.email.value }}" placeholder="username@example.com"
                                               required>
                                    </div>
                                    <div class="section">
                                        <label class="field-label" for="id_address">address</label>
                                        {{ personal_info.address }}
                                    </div>
                                    <div class="section">
                                        <label class="field-label" for="id_password">password</label>
                                        <input class="gui-input" type="password" id="id_password" name="password"
                                               value="">
                                    </div>
                                    <div class="section">
                                        <label class="field-label" for="id_confirm_password">confirm password</label>
                                        <input class="gui-input" type="password" id="id_confirm_password"
                                               name="confirm_password"
                                               value="">
                                    </div>
                                    <div class="form-footer">
                                        <button class="button">submit</button>
                                        <button class="button button-danger">reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning">cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Subheader Area
    ===================================== -->
    <header class="bg-grad-stellar mt70">

        <div class="container">
            <div class="row mt50 mb30">
                <div class="col-md-6 text-left">
                    <h3 class="color-light text-uppercase">Your licenses
                        <small class="color-light alpha7">blah blah blah</small>
                    </h3>
                </div>

            </div>
        </div>

    </header>


    <!-- Shop Area
    ===================================== -->
    <div id="shop" class="bg-light pt25">
        <div class="container">

            <div class="row">

                <div class="col-md-9 col-md-push-3">

                    <div class="row mt25 mb25 animated" data-animation="fadeInDown" data-animation-delay="100">
                    </div>

                    <!-- Item 1
                    ======================== -->
                    <div class="row bt-solid-1 bb-dashed-1 pb25">

                        <div class="row inline-form">
                            <div class="col-md-10 col-sm-10 col-xs-10 pull left">
                                <h2 class="text-uppercase color-blue">{{ order_data.song_title }}
                                    <small>{{ order_data.performer_name }}</small>
                                </h2>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-4 pull-right mt35">

                                {% if order_data %}
                                    <a href="{% url 'delete_order' order_data.id %}"
                                       class="button button-xs button-square button-gray hover-pulse"><i
                                            class="fa fa-trash-o" style="margin: 0;"></i></a>
                                {% endif %}
                                <button id="edit_order" class="button button-xs button-square button-gray hover-pulse">
                                    <i
                                            class="fa fa-edit" style="margin: 0;"></i></button>
                            </div>

                        </div>


                        <div class="container pt20 pb20">
                            <div class="row">
                                <div class="col-md-9"
                                     style="box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                                    <ul class="nav nav-pills nav-justified">
                                        <li>
                                            <a data-toggle="pill" href="#pilljustifiedHome">Music selection <br>
                                                <i class="fa fa-check-circle fa-2x p5 color-success animated"
                                                   data-animation="fadeInUp" data-animation-delay="1200"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a id="link_inquiry" data-toggle="pill" href="#pilljustified1">License
                                                inquiry<br>
                                                <i class="fa fa-check-circle fa-2x p5 color-success animated"
                                                   data-animation="fadeInUp" data-animation-delay="1600"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href="#pilljustified2">Owner identification<br>
                                                <i class="fa fa-check-circle fa-2x p5 color-success animated"
                                                   data-animation="fadeInUp" data-animation-delay="2000"></i>
                                            </a>
                                        </li>
                                        <li {% if order_data.state == 'sent' or order_data.state == 'attention' %}class="active"{% endif %}>
                                            <a data-toggle="pill" href="#pilljustified3">Clrearance request<br>
                                                <i class="fa {% if order_data.state == 'sent' or order_data.state == 'attention' %}fa-circle-thin{% else %} fa-check-circle color-success animated{% endif %} fa-2x p5"></i>
                                            </a>
                                        </li>
                                        <li {% if order_data.state == 'payment' %}class="active"{% endif %}>
                                            <a data-toggle="pill" href="#pilljustified4">Payment<br>
                                                <i class="fa {% if order_data.state == 'done' %} fa-check-circle color-success animated{% else %}fa-circle-thin{% endif %} fa-2x p5"></i>
                                            </a>
                                        </li>
                                        <li {% if order_data.state == 'done' %}class="active"{% endif %}>
                                            <a data-toggle="pill" href="#pilljustified5"> License Completed<br>
                                                <i class="fa {% if order_data.state == 'done' %} fa-check-circle color-success animated{% else %}fa-circle-thin{% endif %} fa-2x p5"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="pilljustifiedHome" class="tab-pane fade p20">
                                            <div class="price price-four" style="border-style:none;">
                                                <div class="price-body" style="border-style:none;">
                                                    <h4 class="text-uppercase color-info">Music Selection</h4>
                                                    <ul>
                                                        <li><i class="fa fa-check-circle color-pasific"></i>song title:
                                                            <kbd>{{ order_data.song_title }}</kbd></li>
                                                        <li><i class="fa fa-check-circle color-pasific"></i>performer
                                                            name: <kbd>{{ order_data.performer_name }}</kbd></li>
                                                        <li><i class="fa fa-check-circle color-pasific"></i>date of
                                                            order: <kbd>{{ order_data.created }}</kbd></li>
                                                        <li><i class="fa fa-check-circle color-pasific"></i>order state:
                                                            <kbd>{{ order_data.state }}</kbd></li>

                                                    </ul>
                                                    <br>
                                                    <p>
                                                        <button class="button button-xs button-square button-success">
                                                            Status:
                                                            Completed
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="pilljustified1" class="tab-pane fade p20">
                                            {% if order_data %}
                                                <div class="price price-four" style="border-style:none;">
                                                <div class="price-body" style="border-style:none;">
                                                    <h4 class="text-uppercase color-info"> License Inquiry</h4>
                                                    <div class="smart-wrap" id="license-form">
                                                        <div class="smart-forms smart-container wrap-4">
                                                            <form method="post"
                                                                  action="








                                                                          {% if order_data %}{% url 'my_account_order' order_data.id %}{% endif %}">
                                                                {% csrf_token %}
                                                                {% include 'orders/order_form_fields.html' %}
                                                                {% if advertising_form %}
                                                                    {% include 'orders/advertising_form_fields.html' %}
                                                                {% endif %}
                                                                {% if program_form %}
                                                                    {% include 'orders/program_form_fields.html' %}
                                                                {% endif %}
                                                                {% if indie_form %}
                                                                    {% include 'orders/indie_form_fields.html' %}
                                                                {% endif %}
                                                                {% if web or ext or tv %}
                                                                    {% include 'orders/distribution_form_fields.html' %}
                                                                {% endif %}
                                                                {% if details_form %}
                                                                    {% include 'orders/details_form_fields.html' %}
                                                                {% endif %}
                                                                {% if wedding_form %}
                                                                    {% include 'orders/wedding_form_fields.html' %}
                                                                {% endif %}
                                                                {% if personal_form %}
                                                                    {% include 'orders/personal_form_fields.html' %}
                                                                {% endif %}
                                                                <div class="form-footer">
                                                                    <button type="submit" class="btn btn-success">
                                                                        resubmit
                                                                        changes
                                                                    </button>
                                                                    <button type="reset" class="btn btn-warning">reset
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="row" id="license-data" style="width:500px;">
                                                        <div class="col-md-12 col-md-offset-1 table table-striped">
                                                            <div class="row">
                                                            <span class="col-md-5">
                                                                song title
                                                            </span>
                                                                <span class="col-md-7">
                                                                <kbd>  {{ order_data.song_title }}</kbd>
                                                            </span>
                                                            </div>
                                                            <div class="row">
                                                            <span class="col-md-5">
                                                                performer name
                                                            </span>
                                                                <span class="col-md-7">
                                                                <kbd>   {{ order_data.performer_name }}</kbd>
                                                            </span>
                                                            </div>
                                                            <div class="row">
                                                            <span class="col-md-5">
                                                                project type
                                                            </span>
                                                                <span class="col-md-7">
                                                                <kbd>   {{ order_data.project_type }}</kbd>
                                                            </span>
                                                            </div>
                                                            {% if advertising %}
                                                                <div class="row">
                                                                <span class="col-md-5">
                                                                    production name
                                                                </span>
                                                                    <span class="col-md-7">
                                                                    <kbd>   {{ advertising.production_name }}</kbd>
                                                                </span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">distribution</span>
                                                                    {% for dist in advertising.distribution.all %}
                                                                        <span><kbd>{{ dist.name }}</kbd></span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                            {% if programming %}
                                                                <div class="row">
                                                                <span class="col-md-5">
                                                                    production name
                                                                </span>
                                                                    <span class="col-md-7">
                                                                    <kbd>   {{ programming.production_name }}</kbd>
                                                                </span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">distribution</span>
                                                                    {% for dist in programming.distribution.all %}
                                                                        <span><kbd>{{ dist.name }}</kbd></span>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                            {% if film_making %}
                                                                <div class="row">
                                                                <span class="col-md-5">
                                                                    production name
                                                                </span>
                                                                    <span class="col-md-7">
                                                                    <kbd> {{ film_making.production_name }}</kbd>
                                                                </span>
                                                                </div>
                                                                <div class="row">
                                                            <span class="col-md-5">
                                                                film length
                                                            </span>
                                                                    <span><kbd>{{ film_making.film_length }}</kbd></span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">film programming</span>
                                                                    <span><kbd>{{ film_making.film_programming }}</kbd></span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">film trailer</span>
                                                                    <span><kbd>{{ film_making.film_trailer }}</kbd></span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">distribution</span>
                                                                    {% if film_making %}
                                                                        {% for dist in film_making.distribution.all %}
                                                                            <span><kbd>{{ dist.name }}</kbd></span>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if programming %}
                                                                        {% for dist in programming.distribution.all %}
                                                                            <span><kbd>{{ dist.name }}</kbd></span>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                    {% if advertising %}
                                                                        {% for dist in advertising.distribution.all %}
                                                                            <span><kbd>{{ dist.name }}</kbd></span>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </div>
                                                            {% endif %}
                                                            {% if web_dist %}
                                                                <div class="row">
                                                                    <span class="col-md-5">on the web</span>
                                                                    <kbd> {{ web_dist }}</kbd>
                                                                </div>
                                                            {% endif %}
                                                            {% if ext_dist %}
                                                                <div class="row">
                                                                    <span class="col-md-5">externally</span>
                                                                    <kbd>   {{ ext_dist }}</kbd>
                                                                </div>
                                                            {% endif %}
                                                            {% if tv_dist %}
                                                                <div class="row">
                                                                    <span class="col-md-5">tv</span>
                                                                    <kbd>  {{ tv_dist }}</kbd>
                                                                </div>
                                                            {% endif %}
                                                            {% if details %}
                                                                <div class="row">
                                                                    <span class="col-md-5">number of uses</span>
                                                                    <kbd>  {{ details.number_uses }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">opening/closing</span>
                                                                    <kbd>    {{ details.opening_closing }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">featured/background?</span>
                                                                    {% for fb in details.featured_background.all %}
                                                                        <span><kbd>{{ fb.name }}</kbd></span>
                                                                    {% endfor %}
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">song version</span>
                                                                    <kbd>   {{ details.song_version }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">start duration</span>
                                                                    <kbd>   {{ details.start_duration }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">end duration</span>
                                                                    <kbd> {{ details.end_duration }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">territory</span>
                                                                    <kbd> {{ details.territory }}</kbd>
                                                                </div>
                                                                {% if details.territory_usa %}
                                                                    <div class="row">
                                                                        <span class="col-md-5">territory usa</span>
                                                                        <kbd>  {{ details.territory_usa }}</kbd>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="row">
                                                                    <span class="col-md-5">term</span>
                                                                    <kbd>  {{ details.term }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">release date</span>
                                                                    <kbd>  {{ details.release_date }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">budget</span>
                                                                    <kbd>  {{ details.budget }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">synopsis</span>
                                                                    <kbd>   {{ details.synopsis }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">description</span>
                                                                    <kbd>  {{ details.description }}</kbd>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">is non profit?</span>
                                                                    <kbd> {{ details.is_non_profit }}</kbd>
                                                                </div>
                                                                {% if details.non_profit %}
                                                                    <div class="row">
                                                                        <span class="col-md-5">non profit</span>
                                                                        <kbd> {{ details.non_profit }}</kbd>
                                                                    </div>
                                                                {% endif %}
                                                                <div class="row">
                                                                    <span class="col-md-5">comments</span>
                                                                    <kbd>  {{ details.comments }}</kbd>
                                                                </div>
                                                            {% endif %}
                                                            {% if wedding_form %}
                                                                <div class="row">
                                                                <span class="col-md-5">
                                                                    platform
                                                                </span>
                                                                    <span class="col-md-7">
                                                                    <kbd>   {{ wedding_form.platform.value }}</kbd>
                                                                </span>
                                                                </div>
                                                                <div class="row">
                                                                <span class="col-md-5">
                                                                    number of uses
                                                                </span>
                                                                    <span class="col-md-7">
                                                                    <kbd>   {{ wedding_form.num_uses.value }}</kbd>
                                                                </span>
                                                                </div>
                                                                <div class="row">
                                                                <span class="col-md-5">
                                                                    platform
                                                                </span>
                                                                    <span class="col-md-7"><kbd>{{ wedding_form.platform.value }}</kbd></span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">territory</span>
                                                                    <span class="col-md-7">
                                                                    <kbd>  {{ wedding_form.territory.value }}</kbd>
                                                                </span>
                                                                </div>
                                                                {% if wedding_form.territory_states %}
                                                                    <div class="row">
                                                                <span class="col-md-5">
                                                                    USA states
                                                                </span>
                                                                        <span class="col-md-7">
                                                                        <kbd> {{ wedding_form.territory_states.value }}</kbd>
                                                                </span>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                            {% if personal_form %}
                                                                <div class="row">
                                                                    <span class="col-md-5">platform</span>
                                                                    <span class="col-md-7"><kbd>{{ personal_form.platform.value }}</kbd></span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">purpose</span>
                                                                    <span class="col-md-7"><kbd>{{ personal_form.purpose.value }}</kbd></span>
                                                                </div>
                                                                <div class="row">
                                                                    <span class="col-md-5">territory</span>
                                                                    <span class="col-md-7"><kbd>{{ personal_form.territory.value }}</kbd></span>
                                                                </div>
                                                                {% if personal_form.territory_states %}
                                                                    <div class="row">
                                                                        <span class="col-md-5">states</span>
                                                                        <span class="col-md-7"><kbd>{{ personal_form.territory_states.value }}</kbd></span>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <button class="button button-xs button-square button-success">
                                                        Status:
                                                        Completed
                                                    </button>
                                                </p>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div id="pilljustified2" style="text-align: center;" class="tab-pane fade p20">
                                            <div class="price price-four" style="border-style:none;">
                                                <div class="price-body" style="border-style:none;">
                                                    <h4 class="text-uppercase color-info">Owner Identification</h4>
                                                    <small>Synchronization license was requested from:</small>
                                                    <br>
                                                    <div class="row">
                                                        <ul>
                                                            {% for owner in owners %}
                                                                <li class="col-md-12"><i
                                                                        class="fa fa-check-circle color-pasific"></i>
                                                                    {{ owner.right_type }} - owned by
                                                                    <kbd>{{ owner.owner }}</kbd>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                            <p>
                                                <button class="button button-xs button-square button-success">
                                                    Status:
                                                    Completed
                                                </button>
                                            </p>

                                        </div>
                                        <div id="pilljustified3" style="text-align: center;"
                                             class="tab-pane fade in{% if order_data.state == 'sent' or order_data.state == 'attention' %} active{% endif %} p20">

                                            <h4 class="text-uppercase color-info">Clrearance Request</h4>
                                            {% if order_data.state == 'sent' or order_data.state == 'attention' %}
                                                <p>
                                                    <button class="button button-xs button-square button-yellow">Status:
                                                        pending
                                                    </button>
                                                </p>
                                            {% else %}
                                                <p>
                                                    <button class="button button-xs button-square button-success">
                                                        Status:
                                                        Completed
                                                    </button>
                                                </p>
                                            {% endif %}

                                            {% for question in ask_user %}
                                                {% if not question.answer %}
                                                    <div>
                                                        <form action="{% url 'ask_user' order_data.id %}" method="post">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <label class="control-label"
                                                                       for="question{{ question.id }}">
                                                                    {{ question.question }} asked
                                                                    by {{ question.owner }}
                                                                </label>
                                                                <textarea id="question{{ question.id }}"
                                                                          name="question{{ question.id }}"
                                                                          value=""
                                                                          class="form-control"></textarea>
                                                            </div>
                                                            <button>submit your answer here for us</button>
                                                        </form>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            {% if order_data %}
                                                <form action="{% url 'user_question' order_data.id %}" method="post"
                                                      class="form-inline">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input type="hidden" name="order" value="{{ order_data.id }}">
                                                        <label for="user_question" class="font-pacifico color-primary">Your
                                                            question</label>
                                                    </div>
                                                    {{ user_question_form.question }}


                                                    <button class="button-3d button-xs button-rounded button-blue">
                                                        submit question
                                                    </button>
                                                </form>
                                            {% endif %}


                                            <div class="center" style="margin:auto;">
                                                <h5 class="col-sm-6 color-dark">Owners questions and answers</h5>
                                                <div class="col-sm-10 frameuser m20">

                                                    <ul class="whatsapp-style">
                                                        {% for question in user_question_history %}
                                                            <li style="width:100%;">
                                                                <div class="msj macro">
                                                                    {% user_image user as image %}
                                                                    <div class="avatar"><img class="img-circle"
                                                                                             style="width:100%;"
                                                                                             src="{{ image }}"
                                                                                             alt="avatar"></div>
                                                                    <div class="text text-left">
                                                                        <p>{{ question.question }}</p>
                                                                        <p>
                                                                            <small>{{ question.created }}</small>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            {% if question.answer %}
                                                                <li style="width: 100%;">
                                                                    <div class="msj-rta macro">
                                                                        <div class="text text-right">
                                                                            <p>{{ question.answer }}</p>
                                                                            <p>
                                                                                <small>{{ question.updated }}</small>
                                                                            </p>
                                                                        </div>
                                                                        <div class="avatar"
                                                                             style="padding:0 0 0 10px !important"><img
                                                                                class="img-circle" style="width:100%;"
                                                                                src=""
                                                                                alt="avatar"/></div>
                                                                    </div>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="pilljustified4" style="text-align: center;"
                                             class="tab-pane fade{% if order_data.state == 'payment' %} in active{% endif %} p20">

                                            <h4 class="text-uppercase color-info">Payment</h4>
                                            {% if order_data.state == 'done' %}
                                                <p>
                                                    <button class="button button-xs button-square button-success">
                                                        Status:
                                                        Completed
                                                    </button>
                                                </p>
                                            {% else %}
                                                <p>
                                                    <button class="button button-xs button-square button-yellow">Status:
                                                        pending
                                                    </button>
                                                </p>
                                            {% endif %}
                                            <h5>licenseit has negotiated the best prices as stipulated below</h5>
                                            <div class="row">
                                                <div class="col-md-4 text-uppercase color-blue">owner</div>
                                                <div class="col-md-2 text-uppercase color-blue">price</div>
                                                <div class="col-md-3 text-uppercase color-blue">pdf</div>
                                            </div>
                                            {% for owner in counter_owners %}
                                                <h5></h5>
                                                <div class="row">
                                                    <div class="col-md-4">{{ owner.owner }}</div>
                                                    <div class="col-md-2"><kbd>{{ owner.price }}</kbd></div>
                                                    {% if owner.owner_pdf %}
                                                        <div class="col-md-3"><a
                                                                href="{{ owner.owner_pdf.url }}" class="button button-xs button-circle button-pasific">{{ owner.file_name }}</a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                            {% if order_data and order_data.price %}
                                                <div id="paypal-button"></div>
                                            {% endif %}

                                        </div>
                                        <div id="pilljustified5" style="text-align: center;"
                                             class="tab-pane fade{% if order_data.state == 'done' %} in active{% endif %} p20">
                                            <h4 class="text-uppercase color-info">Completed</h4>
                                            {% if order_data.license_pdf %}
                                                <p>
                                                    <a href="{{ order_data.license_pdf.url }}" class="button button-md button-rounded button-success hover-icon-hang">your license</a>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Item 1 END
               ======================== -->


                <!-- Sidebar
                ===================================== -->
                <div id="sidebar" class="col-md-2 col-md-pull-9 mt animated bg-dark mt50 pl10 pr10"
                     data-animation="fadeInLeft" data-animation-delay="250">

                    <!-- Search
                    ===================================== -->
                    <div class="mt20 pt20 clearfix">
                        <form action="{% url 'search' %}" method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only">Search</label>
                                <input name="search" type="text" class="form-control" id="searchshop"
                                       placeholder="Search">
                            </div>
                            <button type="submit" class="button button-sm button-block button-blue mt-10">Search
                            </button>
                        </form>
                    </div>

                    <!-- Sidebar Cart
                    ===================================== -->
                    <div class=" pb20 clearfix">
                        <h5 class="mt25 color-light">
                            Your Orders
                        </h5>

                        <span class="heading-divider mt10"></span>

                        <div class="shop-sidebar-cart">
                            {% for order in orders_list %}
                                <div class="sidebar-cart-container">

                                    <h6><a href="{% url 'my_account_order' order.id %}"
                                           class="color-blue" style="font-size: 14px">{{ order.song_title }}</a></h6>
                                    <span class="sidebar-cart-price color-light">{{ order.performer_name }}</span>
                                    <a href="{% url 'my_account_order' order.id %}">
                                        <button class="button button-xs button-circle button-info hover-icon-pulse-grow"
                                                style="padding:5px; margin:4px;"><i class="fa fa-cart-plus"
                                                                                    style="margin:4px;"></i></button>
                                    </a>
                                    <span class="sidebar-cart-remove" style="color: #efefef;"><a
                                            href="{% url 'delete_order' order_data.id %}"><i
                                            class="fa fa-times-circle fa-fw"
                                            style="color: #efefef;"></i>Remove</a></span>
                                </div>
                            {% endfor %}
                        </div>
                        <h5><span class="color-light">YOUR LICENSING PROFILE</span></h5>
                        <p class="color-light"> full Name and state</p> <br>

                        <button data-toggle="modal" data-target="#edit_user"
                                class="button button-block button-gray button-sm hover-ripple-out mt-30">edit<i
                                class="fa fa-edit fa-1x"></i></button>
                    </div>


                </div>
                <div class="row pt50 pb30"></div><!-- sidebar end -->

            </div><!-- row end -->
        </div><!-- container end -->
    </div><!-- shop section end -->


    <!-- Shopping Method
    ===================================== -->
    <div id="shop-info" class="color-dark">
        <div class="container">
            <div class="row pt50 pb30 bt-solid-1 bb-dashed-1">


                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-linegraph color-dark"></span>
                        <h5 class="color-dark">Online Tracking</h5>
                        <p class="color-dark alpha7">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel
                            dolor.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-speedometer color-dark"></span>
                        <h5 class="color-dark">Fast Delivery</h5>
                        <p class="color-dark alpha7">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel
                            dolor.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-refresh color-dark"></span>
                        <h5 class="color-dark">Moneyback Guaranteed</h5>
                        <p class="color-dark alpha7">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel
                            dolor.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}