{% extends 'common/common_base.html' %}
{% block content %}
    <br><br><br><br><br>
    <form action="{% url 'change_password' string %}" method="post">
    {% csrf_token %}
    <div>
        <label class="field-label" for="password">password</label>
        <input class="form-control" type="password" id="password" name="password" value="" required>
    </div>
    <div>
        <label class="field-label" for="confirm_pass">confirm password</label>
        <input class="form-control" type="password" id="confirm_pass" name="confirm_pass" value="" required>
    </div>
    <button class="btn btn-primary">submit</button>
    </form>
{% endblock %}