{% load staticfiles %}
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>License It | licence music for any purpose</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Harry Boo">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

        <!-- Favicons -->
        <link rel="shortcut icon" href="{% static 'common/assets/img/favicon.png' %}">
        <link rel="apple-touch-icon" href="{% static 'common/assets/img/apple-touch-icon.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'common/assets/img/apple-touch-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="114x114"
              href="{% static 'common/assets/img/apple-touch-icon-114x114.png' %}">

        <!-- Load Core CSS
        =====================================-->
        <link rel="stylesheet" href="{% static 'common/assets/css/core/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/core/animate.min.css' %}">

        <!-- Load Main CSS
        =====================================-->
        <link rel="stylesheet" href="{% static 'common/assets/css/main/main.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/main/setting.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/main/hover.css' %}">

        {% if url == 'home' %}
            <link rel="stylesheet" href="{% static 'common/assets/css/typed/typed.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'common/assets/css/range-slider/ion.rangeSlider.css' %}">
            <link rel="stylesheet" href="{% static 'common/assets/css/range-slider/ion.rangeSlider.skinFlat.css' %}">
        {% endif %}

        <!-- Load Magnific Popup CSS
        =====================================-->
        <link rel="stylesheet" href="{% static 'common/assets/css/magnific/magic.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/magnific/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/magnific/magnific-popup-zoom-gallery.css' %}">

        <!-- Load OWL Carousel CSS
        =====================================-->
        <link rel="stylesheet" href="{% static 'common/assets/css/owl-carousel/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/owl-carousel/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/owl-carousel/owl.transitions.css' %}">

        <!-- Load Color CSS - Please uncomment to apply the color.
        =====================================
        <link rel="stylesheet" href="{% static 'common/assets/css/color/blue.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/brown.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/cyan.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/dark.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/green.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/orange.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/purple.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/pink.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/red.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/color/yellow.css' %}">-->
        {% if url != 'client_dash' %}
            <link rel="stylesheet" href="{% static 'common/assets/css/color/pasific.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'common/assets/css/color/blue.css' %}">
        {% endif %}

        <!-- Load Fontbase Icons - Please Uncomment to use linea icons
        =====================================
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-arrows-10.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-basic-10.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-basic-elaboration-10.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-ecommerce-10.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-music-10.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-software-10.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/linea-weather-10.css' %}">-->
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'common/assets/css/icon/et-line-font.css' %}">

        {% if url == 'results' %}
            <link rel="stylesheet" href="{% static 'common/assets/css/loading.css' %}">
        {% endif %}
        <!-- Load JS
        HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        WARNING: Respond.js doesn't work if you view the page via file://
        =====================================-->

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% if url == 'distribution' %}
            <style>
                #id_youtube {
                    display: none;
                }
            </style>
        {% endif %}
        {% if url == 'details' %}
            <style>
                #usa_states {
                    display: none;
                }

                #non-profit {
                    display: none;
                }
            </style>
        {% endif %}
    </head>
    <body id="topPage" data-spy="scroll" data-target=".navbar" data-offset="100">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '790070294505633',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });

            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {% if url != 'results' %}
        <!-- Page Loader
        ===================================== -->
        <div id="pageloader">
            <div class="loader-item">
                <img src="{% static 'common/assets/img/other/puff.svg' %}" alt="page loader">
            </div>
        </div>
    {% endif %}

    <a href="#page-top" class="go-to-top">
        <i class="fa fa-long-arrow-up"></i>
    </a>

    <!-- Navigation Area
    ===================================== -->
    <nav class="navbar navbar-pasific navbar-mp {% if url != 'home' %}navbar-standart{% endif %} megamenu navbar-fixed-top"
         {% if url != 'home' %}style="border-bottom:1px solid #fff;{% endif %}">
        <div class="{% if url == 'home' %}container-fluid{% else %}container{% endif %}">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                    <img src="{% static 'common/assets/img/logo/logo-default.png' %}" alt="logo"
                         href="{% url 'home' %}">
                    License It
                </a>
            </div>

            <div class="navbar-collapse collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown megamenu-fw has-dropdown-menu">
                        <a href="{% url 'home' %}"
                           class="dropdown-toggle {% if url == 'home' %}color-light{% else %}color-dark{% endif %}">Home </a>
                    </li>
                    <li class="dropdown megamenu-fw has-dropdown-menu">
                        <a href="{% url 'how_it_works' %}"
                           class="dropdown-toggle {% if url == 'home' %}color-light{% else %}color-dark{% endif %}">How
                            it
                            works </a></li>
                    <li class="dropdown megamenu-fw has-dropdown-menu">
                        <a href="{% url 'search' %}"
                           class="dropdown-toggle {% if url == 'home' %}color-light{% else %}color-dark{% endif %}">Search </a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="dropdown megamenu-fw has-dropdown-menu">
                            <a href="{% url 'my_account' %}"
                               class="dropdown-toggle {% if url == 'home' %}color-light{% else %}color-dark{% endif %}">{{ user.email }}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}"
                               class="dropdown-toggle {% if url == 'home' %}color-light{% else %}color-dark{% endif %}">signout</a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle color-light">Sign in </a>
                            <ul class="dropdown-menu has-submenu" role="menu">
                                <li>
                                    <div class="row p15">
                                        <div class="col-md-12">
                                            Login via
                                            <div class="social-buttons pb5">
                                                <button id="fb-button" class="btn btn-fb"><i class="fa fa-facebook"></i>
                                                    Facebook</button>
                                                <a href="#" class="btn btn-tw"><i class="fa fa-google"></i> Google</a>
                                            </div>
                                            or
                                            <form class="form mt5" role="form" method="post" action="{% url 'login' %}"
                                                  accept-charset="UTF-8" id="login-nav">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputEmail2">Email
                                                        address</label>
                                                    <input type="email" name="username" class="form-control"
                                                           id="exampleInputEmail2"
                                                           placeholder="Email address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                    <input type="password" name="password" class="form-control"
                                                           id="exampleInputPassword2"
                                                           placeholder="Password" required>
                                                    <div class="help-block text-right"><a href="">Forget the password
                                                        ?</a>
                                                    </div>
                                                </div>
                                                <div class="form-group mt10">
                                                    <button type="submit"
                                                            class="button btn-block button-rounded button-success hover-ripple-out">
                                                        Sign in
                                                    </button>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> keep me logged-in
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center mt5 font-size-normal">
                                            New here ? <a href="#"><b>Join Us</b></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="dropdown megamenu-fw has-dropdown-menu"><a href="{% url 'contact_us' %}"
                                                                          class="dropdown-toggle color-dark">Contact
                        Us</a></li>

                </ul>
            </div>
    </nav>


    <!-- Search Modal Dialog Box
    ===================================== -->
    <div id="searchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-gray">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                </div>
                <div class="modal-body">
                    <form action="{% url 'search' %}" method="post" class="inline-form">
                        {% csrf_token %}
                        <input type="text" name="search" class="modal-search-input" autofocus>
                    </form>
                </div>
                <div class="modal-footer bg-gray">
                    <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                </div>
            </div>

        </div>
    </div>
    <span id="page-top"></span>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
    <!-- footer Area
    ===================================== -->
    <div id="footer" class="footer-two pt50">
        <div class="container-fluid bb-solid-1">
            <div class="container pb35">
                <div class="row">

                    <!-- footer about start -->
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <h6 class="font-montserrat text-uppercase color-dark">About Us</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                    </div>
                    <!-- footer about end -->

                    <!-- footer menu one start -->
                    <div class="col-md-2 col-md-offset-1 col-sm-3 col-xs-4">
                        <h6 class="font-montserrat text-uppercase color-dark">Menu</h6>
                        <ul class="no-icon-list">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'how_it_works' %}">How it works</a></li>
                            <li><a href="{% url 'team' %}">Team LiceneIt</a></li>
                        </ul>
                    </div>
                    <!-- footer menu one end -->

                    <!-- footer menu two start -->
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <h6 class="font-montserrat text-uppercase color-dark">Learn more</h6>
                        <ul class="no-icon-list">

                            <li><a href="{% url 'pricing' %}">Pricing</a></li>
                            <li><a href="{% url 'how_it_works' %}">Licensing</a></li>

                        </ul>
                    </div>
                    <!-- footer menu two end -->

                    <!-- footer menu three start -->
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <h6 class="font-montserrat text-uppercase color-dark">Support</h6>
                        <ul class="no-icon-list">
                            <li><a href="{% url 'faq' %}">FAQs</a></li>


                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- footer menu three end -->

                    <!-- footer social icons start -->
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <h6 class="font-montserrat text-uppercase color-dark">Social Media</h6>
                        <div class="social social-two">
                            <a href="#"><i class="fa fa-twitter color-blue"></i></a>
                            <a href="#"><i class="fa fa-facebook color-primary"></i></a>

                        </div>
                    </div>
                    <!-- footer social icons end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->

        <div class="container-fluid pt20">
            <div class="container">
                <div class="row">

                    <!-- copyright start -->
                    <div class="col-md-6 col-sm-6 col-xs-6 pull-left">
                        <p>Copyright &copy;2016 <a href="#">Licene It, LLC</a>. All rights reserved.</p>
                    </div>
                    <!-- copyright end -->

                    <!-- footer bottom start -->
                    <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                        <p class="text-right">
                            <a href="{% url 'terms' %}" class="mr20">Terms of Use</a>


                        </p>
                    </div>
                    <!-- footer bottom end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </div><!-- container-fluid end -->
    </div>
    <!-- footer end -->

    {% if url == 'results' and first %}
        <div id="page">
        <div id="phrase_box">
            <svg width="100%" height="100%">
                <defs>
                    <mask id="mask" maskUnits="userSpaceOnUse" maskContentUnits="userSpaceOnUse">
                        <linearGradient id="linearGradient" gradientUnits="objectBoundingBox" x2="0" y2="1">
                            <stop stop-color="white" stop-opacity="0" offset="0%"/>
                            <stop stop-color="white" stop-opacity="1" offset="30%"/>
                            <stop stop-color="white" stop-opacity="1" offset="70%"/>
                            <stop stop-color="white" stop-opacity="0" offset="100%"/>
                        </linearGradient>
                        <rect width="100%" height="100%" fill="url(#linearGradient)"/>
                    </mask>
                </defs>
                <g width="100%" height="100%" style="mask: url(#mask);">
                    <g id="phrases"></g>
                </g>
            </svg>
        </div>
        <div id="footer-page">
            <div><img src="{% static 'common/assets/img/logo2.png' %}" width="10%"></div>
        </div>
        <script src="{% static 'common/assets/js/loading.js' %}"></script>
    {% endif %}

<!-- JQuery Core
=====================================-->
<script src="{% static 'common/assets/js/core/jquery.min.js' %}"></script>
<script src="{% static 'common/assets/js/core/bootstrap.min.js' %}"></script>

{% if url != 'pricing' %}
    <!-- Magnific Popup
    =====================================-->
    <script src="{% static 'common/assets/js/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'common/assets/js/magnific-popup/magnific-popup-zoom-gallery.js' %}"></script>
{% endif %}

{% if url == 'home' %}
    <!-- Typed
    =====================================-->
    <script src="{% static 'common/assets/js/typed/typed.min.js' %}"></script>
{% endif %}

{% if url == 'works' or url == 'contact' %}
    <!-- Progress Bars
    =====================================-->
    <script src="{% static 'common/assets/js/progress-bar/circle-progress.js' %}"></script>
    <script src="{% static 'common/assets/js/progress-bar/circle-progress-main.js' %}"></script>
{% endif %}

{% if url == 'home' or url == 'about' or url == 'team' or url == 'terms' %}
    <!-- Progress Bars
    =====================================-->
    <script src="{% static 'common/assets/js/progress-bar/bootstrap-progressbar.js' %}"></script>
    <script src="{% static 'common/assets/js/progress-bar/bootstrap-progressbar-main.js' %}"></script>
{% endif %}

<!-- JQuery Main
=====================================-->
<script src="{% static 'common/assets/js/main/jquery.appear.js' %}"></script>
<script src="{% static 'common/assets/js/main/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'common/assets/js/main/parallax.min.js' %}"></script>
<script src="{% static 'common/assets/js/main/jquery.countTo.js' %}"></script>
<script src="{% static 'common/assets/js/main/owl.carousel.min.js' %}"></script>
<script src="{% static 'common/assets/js/main/jquery.sticky.js' %}"></script>
<script src="{% static 'common/assets/js/main/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'common/assets/js/main/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'common/assets/js/main/main.js' %}"></script>
{% if url == 'distribution' or 'client_dash' %}
    <script src="{% static 'orders/youtube_show_hide.js' %}"></script>
{% endif %}
{% if url == 'details' or url == 'client_dash' %}
    <script src="{% static 'orders/states_show_hide.js' %}"></script>
{% endif %}

{% if url == 'client_dash' %}
    <script src="{% static 'accounts/client_dash.js' %}"></script>
{% endif %}
{% if url == 'works' %}
    <!-- Google Map
    =====================================-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{% static 'common/assets/js/main/googlemap.js' %}"></script>

{% endif %}
    <script>
    function loginCheck() {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                FB.api('/me', function (response) {
                    for (res in response) {
                        console.log(res, response[res]);
                    }
                });
                FB.logout();
{#                window.location.reload();#}
            } else {
                FB.login(function (response) {
                    for (res in response) {
                        console.log(response[res]);
                    }
                }, {scope: 'public_profile,email'});
            }
        });
    }

    $('#fb-button').click(function () {
        loginCheck();
    });
    </script>

    </body>
    </html>
{% endblock %}
