{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Subheader Area
    ===================================== -->
    <header class="parallax-window-3 mt70 bg-grad-mojito">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pt10">
                    <h1 class="mt75 font-montserrat color-light text-uppercas">Licensing Pricing</h1>
                    <p class="lead color-light">Service Fee ($20) + Publisher fees </p>
                </div>
            </div>
        </div>

    </header>



    <h4 class="text-center m50"></h4>

    <div class="row  p20">

        <!-- Content Box Center -->
        <div class="col-md-4 col-sm-4 col-xs-12 mb35">
            <div class="content-box content-box-center content-box-icon">
                <span class="icon-shield bg-pasific"></span>
                <h5>Get it legal</h5>
                <p>Obtain Legal synchronization license for any song through LicenseIt.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 mb35">
            <div class="content-box content-box-center content-box-icon">
                <span class="icon-wallet bg-pasific"></span>
                <h5>Pay exactly for what you need</h5>
                <p>Pay only for the cost of royalties, along with 1% commission and a flat service fee of $20.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12 mb35">
            <div class="content-box content-box-center content-box-icon">
                <span class="icon-layers bg-pasific"></span>
                <h5>Variety of licenses</h5>
                <p>LicenseIt offers licenses that allow you to legally embed music in
                    your audiovisual production, Film making, online series, YouTube
                    videos, Advertising, Events, etc.</p>
            </div>
        </div>


    </div>

    </div>





    <!-- Service Area
    ===================================== -->
    <div class="pt10 pb25 bb-solid-1 bg-gray ">


        <div class="row mt50">
            <div class="col-md-6 col-sm-6 col-xs-4 m0 p0">
                <img src="{% static 'common/assets/img/other/img-other-33.png' %}" alt="website service" class="img-responsive" width="50%">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-8">

                <h3 class="font-size-normal mb20">
                    <small class="color-primary">payment process</small>
                    How Do We Calculate Your Total on License It?
                </h3>

                <div class="ml15">
                    <h4 class="font-montserrat text-capitalize mr40"><b>&nbsp;$20 Service Fee </b></h4>
                    <small class="ml10">
                        pay less with our bulk discounts!
                    </small>
                </div>

                <div class="ml15">
                    <h4 class="font-montserrat text-capitalize mr40"><b>&nbsp;+ Publishers/owners synchronization
                        fees </b></h4>
                    <small class="ml10">
                        Depending on your specific production
                    </small>
                </div>


                <div class="ml15">
                    <h4 class="font-montserrat text-capitalize mr40"><b>&nbsp;+ 10% commission </b></h4>
                    <small class="ml10">
                        After you acquire your license
                    </small>
                </div>


                <div class="ml15">
                    <h4 class="font-montserrat text-capitalize mr40"><b>&nbsp;= Your Total per License </b></h4>
                    <small class="ml10">
                        We&#39;ve laid out a detailed breakdown of publishers or owners royalties fees below.
                    </small>
                </div>


                <p>
                    <i class="fa fa-wordpress fa-2x color-gray mr10"></i>
                    <i class="fa fa-joomla fa-2x color-gray mr10"></i>
                    <i class="fa fa-drupal fa-2x color-gray mr10"></i>
                    <i class="fa fa-shopping-basket fa-2x color-gray mr10"></i>
                </p>
                <p>
                    <a href="{% url 'search' %}" class="button-o button-sm button-primary hover-fade">Start
                        Licensing</a>
                </p>
            </div>
        </div>
    </div>
    </div>


    <div class="row mt50">
        <div class="col-md-6 col-md-push-6">
            <img src="{% static 'common/assets/img/other/img-other-4.png' %}" alt="website service" class="img-responsive">
        </div>
        <div class="col-md-5 col-md-pull-5">

            <h3 class="font-size-normal">Publisher Synchronization Fees </h3>

            <p class="mt20">

                Royalty rates may vary depending on a number of factors including: whether you&#39;re
                production is commercial, your specific use, your budget, the type and length of the
                synopsis, and the duration of license required. Obviously the final price is negotiable
                (throe our system) and is decided by the publisher or the right holder/s. LicenseIt
                pays copyright holders 100% of the synchronization royalties owed to them under the
                Copyright Act.
            </p>
            <p>
                <i class="fa fa-android fa-2x color-gray mr10"></i>
                <i class="fa fa-apple fa-2x color-gray mr10"></i>
                <i class="fa fa-windows fa-2x color-gray mr10"></i>
                <i class="fa fa-amazon fa-2x color-gray mr10"></i>
            </p>

        </div>
    </div>
{% endblock %}