{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
            <!-- Subheader Area
        ===================================== -->
        <header class="parallax-window-3 mt70 bg-grad-mojito">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center pt10">
                        <h3 class="mt75 font-montserrat color-light text-uppercas">We Build Website &amp; Mobile App</h3>
                        <p class="lead color-light">We Build Beter Website for Better Future</p>
                    </div>
                </div>
            </div>

        </header>


        <!-- Service Area
        ===================================== -->
        <div id="service" class="pt25 pb25">
            <div class="container">

                <div class="row mt50">
                    <div class="col-md-6">
                        <img src="{% static 'common/assets/img/other/img-other-3.png' %}" alt="website service" class="img-responsive">
                    </div>
                    <div class="col-md-5">

                        <h3 class="font-size-normal">
                            <small class="color-primary">Web Design &amp; Development</small>
                            Wordpress. Joomla. Opencart. Etc.
                        </h3>

                        <p class="mt20">
                            We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                            anything that you want to make great success.
                        </p>
                        <p>
                            <i class="fa fa-wordpress fa-2x color-gray mr10"></i>
                            <i class="fa fa-joomla fa-2x color-gray mr10"></i>
                            <i class="fa fa-drupal fa-2x color-gray mr10"></i>
                            <i class="fa fa-shopping-basket fa-2x color-gray mr10"></i>
                        </p>
                        <p>
                            <a class="button-o button-sm button-primary hover-fade">Start Project</a>
                        </p>
                    </div>
                </div>

                <div class="row mt50">
                    <div class="col-md-6 col-md-push-6">
                        <img src="{% static 'common/assets/img/other/img-other-4.png' %}" alt="website service" class="img-responsive">
                    </div>
                    <div class="col-md-5 col-md-pull-5">

                        <h3 class="font-size-normal">
                            <small class="color-success">App Design &amp; Development</small>
                            Android. iOS. Windows. Etc.
                        </h3>

                        <p class="mt20">
                            We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                            anything that you want to make great success.
                        </p>
                        <p>
                            <i class="fa fa-android fa-2x color-gray mr10"></i>
                            <i class="fa fa-apple fa-2x color-gray mr10"></i>
                            <i class="fa fa-windows fa-2x color-gray mr10"></i>
                            <i class="fa fa-amazon fa-2x color-gray mr10"></i>
                        </p>
                        <p>
                            <a class="button-o button-sm button-success hover-fade">Start Project</a>
                        </p>
                    </div>
                </div>

                <div class="row mt50">
                    <div class="col-md-6">
                        <img src="{% static 'common/assets/img/other/img-other-5.jpg' %}" alt="website service" class="img-responsive">
                    </div>
                    <div class="col-md-5">

                        <h3 class="font-size-normal">
                            <small class="color-red">Graphic Design</small>
                            Logo. Icon. Infographic. Etc.
                        </h3>

                        <p class="mt20">
                            We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                            anything that you want to make great success.
                        </p>
                        <p>
                            <i class="fa fa-file-image-o fa-2x color-gray mr10"></i>
                            <i class="fa fa-object-ungroup fa-2x color-gray mr10"></i>
                            <i class="fa fa-paper-plane-o fa-2x color-gray mr10"></i>
                            <i class="fa fa-camera-retro fa-2x color-gray mr10"></i>
                        </p>
                        <p>
                            <a class="button-o button-sm button-red hover-fade">Start Project</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>


        <!-- Info Area
        =====================================-->
        <div id="info" class="mt75 pt50 pb25" style="background:url({% static 'common/assets/img/bg/bg-parallax-2.jpg' %}) 50% 0 no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt25">

                        <h3 class="color-light font-open-sans">More Than 1,200 People Love Our Product.<br>Join with us now.</h3>
                        <a class="button button-pasific button-md mt25 hover-ripple-out">Purchase Now</a>

                    </div>
                    <div class="col-md-12 mt50">
                         <img src="{% static 'common/assets/img/other/img-other-6.png' %}" alt="" class="img-responsive center-block mb-100">
                    </div>
                </div>
            </div>
        </div>


        <!-- Feature Area
        =====================================-->
        <div id="feature" class="pt75 pb50">
            <div class="container">
                <div class="row">
                    <h4 class="text-center">
                       Amazing Template Features
                        <small class="heading-desc text-lowercase">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                        </small>
                        <small class="heading heading-solid center-block"> </small>
                    </h4>
                </div>

                <div class="row mt50">

                     <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-mobile color-pasific"></span>
                            <h5>Mobile Optimzed</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-tools color-pasific"></span>
                            <h5>Easy to Customize</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-browser color-pasific"></span>
                            <h5>Corss Browsers</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-wallet color-pasific"></span>
                            <h5>Save Money</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-layers color-pasific"></span>
                            <h5>Clean Code</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-video color-pasific"></span>
                            <h5>Video Background</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis reiciendis architecto.</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>



        <!-- Testimonial Area
        ===================================== -->
        <div>
            <div class="container-fluid pb25 pt70" style="background: url({% static 'common/assets/img/bg/bg-subheader-5.jpg' %}) 50% 50% no-repeat;">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="owlSectionThreeItem" class="owl-carousel">

                                    <!-- Testimonial Item -->
                                    <div class="testimonial testimonial-center">
                                        <div class="testimonial-header">
                                            <img src="{% static 'common/assets/img/other/photo-1.jpg' %}" alt="testimonial author" class="img-responsive img-circle">
                                        </div>
                                        <div class="testimonial-body">
                                            <p class="color-light">
                                                Pasific template is the best template so far. So easy to customize and clean code. Recommended!
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Martin Smith <a href="#">Smashingmagazine.com   </a>
                                        </div>
                                    </div>

                                    <!-- Testimonial Item -->
                                    <div class="testimonial testimonial-center">
                                        <div class="testimonial-header">
                                            <img src="{% static 'common/assets/img/other/photo-2.jpg' %}" alt="testimonial author" class="img-responsive img-circle">
                                        </div>
                                        <div class="testimonial-body">
                                            <p class="color-light">
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Steve Austin <a href="#">envato.com   </a>
                                        </div>
                                    </div>

                                    <!-- Testimonial Item -->
                                    <div class="testimonial testimonial-center">
                                        <div class="testimonial-header">
                                            <img src="{% static 'common/assets/img/other/photo-3.jpg' %}" alt="testimonial author" class="img-responsive img-circle">
                                        </div>
                                        <div class="testimonial-body">
                                            <p class="color-light">
                                                Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Johny English <a href="#">themeforest.net   </a>
                                        </div>
                                    </div>

                                    <!-- Testimonial Item -->
                                    <div class="testimonial testimonial-center">
                                        <div class="testimonial-header">
                                            <img src="{% static 'common/assets/img/other/photo-1.jpg' %}" alt="testimonial author" class="img-responsive img-circle">
                                        </div>
                                        <div class="testimonial-body">
                                            <p class="color-light">
                                                Pasific template is the best template so far. So easy to customize and clean code. Recommended!
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Martin Smith <a href="#">Smashingmagazine.com   </a>
                                        </div>
                                    </div>

                                    <!-- Testimonial Item -->
                                    <div class="testimonial testimonial-center">
                                        <div class="testimonial-header">
                                            <img src="{% static 'common/assets/img/other/photo-2.jpg' %}" alt="testimonial author" class="img-responsive img-circle">
                                        </div>
                                        <div class="testimonial-body">
                                            <p class="color-light">
                                                Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie sagittis elit ac vulputate odio.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Steve Austin <a href="#">envato.com   </a>
                                        </div>
                                    </div>

                                    <!-- Testimonial Item -->
                                    <div class="testimonial testimonial-center">
                                        <div class="testimonial-header">
                                            <img src="{% static 'common/assets/img/other/photo-3.jpg' %}" alt="testimonial author" class="img-responsive img-circle">
                                        </div>
                                        <div class="testimonial-body">
                                            <p class="color-light">
                                                Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                                            </p>
                                        </div>
                                        <div class="testimonial-footer">
                                            <i class="fa fa-quote-left"></i>
                                            Johny English <a href="#">themeforest.net   </a>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Price Area
        ===================================== -->
        <div id="team" class="bg-grad-mojito pt70 pb50">
            <div class="container pb50">
                <div class="row mb25">
                    <h4 class="text-center color-light">
                        Our Prices
                        <small class="heading heading-solid center-block"></small>
                    </h4>
                </div>
                <div class="row">

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three">
							<div class="price-header">
                                <span><sup>$</sup>49</span>
								<h4>Wordpress</h4>
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">

								<a href="#" class="button button-sm button-rounded button-green hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three active">
							<div class="price-header">
                                <span><sup>$</sup>59</span>
								<h4>Joomla</h4>
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">

								<a href="#" class="button button-sm button-rounded button-blue hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three">
							<div class="price-header">
                                <span><sup>$</sup>69</span>
								<h4>WooCommerce</h4>
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">

								<a href="#" class="button button-sm button-rounded button-success hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three">
							<div class="price-header">
                                <span><sup>$</sup>79</span>
								<h4>Custom</h4>
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">

								<a href="#" class="button button-sm button-rounded button-primary hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>

				</div>
            </div>

        </div>
{% endblock %}