{% extends 'common/common_base.html' %}
{% block content %}
    <!-- Feature Area
    ===================================== -->
    <div class="bg-grad-day-tripper pt100 pb75">
        <div class="container">
            <div class="row text-center mb35">
                <h1 class="color-light font-montserrat mt75">
                    Licensing Q&A
                    <small class="color-light alpha8">Evertything you need to know about synch license and its uses
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-md-12 bg-light content-box-o-no-border mb30">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h2>
                                Do I need a synchronization license?
                                <small class="heading heading-solid"></small>
                            </h2>
                            <p>
                                If you are distributing a video that includes music you don’t own or control, you may
                                need a synchronization license. <br>LicenseIt will help you to contact the publisher(s)
                                directly to obtain these rights.
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 bg-light content-box-o-no-border mb30">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h2>
                                What are synchronization rights?
                                <small class="heading heading-solid"></small>
                            </h2>
                            <p>
                                Synchronization rights refer to the right to use a piece of music as soundtrack with
                                visual images. It is the right to use music in timed relations with other visual
                                elements in a film, video, television show, commercial, or other audio visual
                                production.
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 bg-light content-box-o-no-border mb30">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h2>
                                What is a sync fee?
                                <small class="heading heading-solid"></small>
                            </h2>
                            <p>
                                A music synchronization license, or "sync" for short, is a music license granted by the
                                holder of the copyright of a particular composition, allowing the licensee to
                                synchronize ("sync") music with some kind of visual media output (film, television
                                shows, advertisements, video games, accompanying website music, movie ...

                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 bg-light content-box-o-no-border mb30">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <h2>
                                How sync licensing works for TV, film, video games, etc?
                                <small class="heading heading-solid"></small>
                            </h2>
                            <p>
                                In advertising, we generally license music from rights holders (like publishers and
                                labels), and at times from unsigned artists. We provide what the “use” would be (e.g.
                                TV, all media, Internet only, etc.), the term (3 months, 6 weeks, 1 year, etc.) and the
                                territory (US only, Regional, Global, Western Europe, etc.). We then negotiate a fair
                                and reasonable deal based on the market rate of a particular track.

                            </p>
                            <p>

                                The creative aspect involves several collaborators including creative directors,
                                copywriters, art directors, and more, offering their opinions as a spot or campaign is
                                in development. The music producer or supervisor harnesses and guides this collaborative
                                process and oversees the financial and rights negotiations
                            </p>
                        </div>
                        <div class="col-md-1">
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}