{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
        <!-- Team member Area
        ===================================== -->
        <div class="parallax-window-3 mt70 pb75 bg-grad-day-tripper">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center pt30 pb30">
                        <h3 class="mt75 font-montserrat color-light text-uppercase">Team Member</h3>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 mt30 hover-wobble-vertical">
                        <div class="team team-one">
                            <h5>Tal Fadlon<small class="color-pasific">Founder &amp; CDO</small></h5>
                            <img src="{% static 'common/assets/img/team/14-1.jpg' %}" alt="" class="img-responsive">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 hover-wobble-vertical mt30">
                        <div class="team team-one">
                            <h5>Opheer Shimshon<small class="color-pasific">Founder &amp; CEO</small></h5>
                            <img src="{% static 'common/assets/img/team/9-1.jpg' %}" alt="" class="img-responsive">
                            <div class="team-social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!-- Info Area
        =====================================-->
        <div class="pt75 pb75" style="background: url({% static 'common/assets/img/bg/bg-parallax-6.jpg' %}) 50% 50% no-repeat;">
            <h1 class="font-pacifico text-center color-light alpha9">We Are Hiring</h1>
            <p class="text-center">
                <a href="{% url 'contact_us' %}" class="button-3d button-lg button-green hover-ripple-out">Let's Join With Us</a>
            </p>
        </div>

{% endblock %}