{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <header class="intro pt75 pb100"
            style="background: url('{% static "common/assets/img/bg/img-bg-9.jpg" %}') no-repeat 70% 0; background-size:cover;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <h1 class="brand-heading font-pacifico text-capitalize fs-75 color-light animated"
                            data-animation="fadeInUp" data-animation-delay="100">License music for your <br> visual
                            media</h1>
                        <h3 class="intro-text mt50 text-uppercase color-light mb50 animated" data-animation="fadeInUp"
                            data-animation-delay="200">
                            <h3 class="text-capitalize color-light">You relax. We take care of the paperwork</h3>
                            <br><br>
                            <span class="text-capitalize color-light">

                                <ul class="icon-list color-light">
                            <li><i class="fa fa-check"></i>Tell us how you plan to use the music
                                                                                        </li>
                            <li><i class="fa fa-check"></i>Legally release your song!
                                                                                             </li>

                        </ul>

                                </span>
                            </p>
                            <a class="button button-md button-gray animated" data-animation="fadeInUp"
                               data-animation-delay="700" href="{% url "search" %}">Get license now<i
                                    class="fa fa-file-text-o ml10"></i></a>
                    </div>
                </div>

                <div class="intro-direction">
                    <a href="#welcome">
                        <div class="mouse-icon">
                            <div class="wheel"></div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </header>




    <!-- Welcome Area
    ===================================== -->
    <div id="welcome" class="pt75">
        <div class="container">
            <div class="row mb30">
                <h3 class="text-center">
                    WHY LICENSE WITH LICENSE IT?


                    <small class="heading heading-solid center-block"></small>
                </h3>
            </div>
            <div class="row">

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-shield color-pasific"></span>
                        <h4>Get Legal</h4>
                        <p>Let us deal with the legalities of researching, filing paperwork, and managing.</p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-document color-pasific"></span>
                        <h4>Simple and Fast</h4>
                        <p>Request a song in under 10 minutes. Bonus! - your licenses never expire.</p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-lifesaver color-pasific"></span>
                        <h4>Save More</h4>
                        <p>Receive our bulk licensing discount when you purchase more than 5 licenses.</p>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="content-box content-box-center">
                        <span class="icon-happy color-pasific"></span>
                        <h4>Everyone Wins!</h4>
                        <p>You're safe to use the music on your visual media output while we make sure the rightowners
                            receive their fair share.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>





    <div id="price" class="bg-grad-stellar pt75 pb30 m50">
        <div class="container pb50">

            <!-- title start -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center mb50">
                    <h1 class="font-size-normal color-light">
                        <small class="color-light">Service Prices</small>
                        Family Price for Premium Services
                    </h1>

                </div>
            </div>
            <!-- title start -->

            <div class="row centered">

                <!-- table price one start -->
                <div class="col-md-4 col-sm-4 col-sm-push-1 col-xs-12 col-md-push-2 hover-float centered">
                    <div class="price price-three p25">
                        <div class="">
                            <span class="color-green">4 Easy Steps</span>

                        </div>
                        <div class="price-body p25">
                            <ul class="icon-list-underline underline-dotted text-left">
                                <li class=" h5 p15 text-left"><i class="fa fa-check-square"></i> Search and select any
                                    music out of our's 40 million songs catalouge
                                </li>
                                <li class=" h5 p15 text-left"><i class="fa fa-check-square"></i>Customize your license
                                    by telling us how you plan to use the music on your visual output
                                </li>
                                <li class=" h5 p15 text-left"><i class="fa fa-check-square"></i>Submit your order and
                                    pay %7 of the transaction. you pay only after you see the license

                                    <p class="pt25 text-left">We'll process your information and use it to identify the
                                        owner or owners of the song, secure the rights you've requested, and send
                                        royalty payments to anyone that needs to receive them.</p>
                                </li>

                                <li class="h5 p15 text-left"><i class="fa fa-check-square"></i> Within 14 business days
                                    or less you'll receive a notification that your license is available
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
                <!-- table price one end -->

                <!-- table price two start -->
                <div class="col-md-4 col-sm-4 col-xs-12 col-sm-push-1 col-md-push-2 hover-float centered">
                    <div class="price price-three">

                        <div class="price-header">
                                <span class="color-success">How does <br> it work?
</span>
                        </div>
                        <div class="price-body">
                            <p class="h4 p10">
                                License It takes all of the paper and work out of paperwork. With our online licensing
                                tool, you can obtain a synch license in less than 10 minutes.

                            </p> <br>

                        </div>

                        <p class="h4 p10">
                            <span class="color-blue pt15"> Why license?</span> <br> <br>
                            U.S. copyright law requires you to obtain permission (a license) from the owners of a song
                            when used on a visual media output

                        </p>


                        <div class="price-footer p10">

                            <a href="{% url 'licensing' %}"
                               class="button button-sm button-rounded button-success hover-ripple-out">read more</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- table price two end -->


        </div><!-- row end -->


    </div><!-- container end -->
    </div>




    <!-- Welcome Area
  ===================================== -->
    <div id="howworks" id="welcome" class="pt15">
        <div class="container">
            <div class="row">

                <!-- title start -->
                <div class="col-md-12 text-center">
                    <h1 class="font-size-normal">
                        <small>We exist to help all creators use music in their projects</small>

                        <small class="heading heading-solid center-block"></small>
                    </h1>
                </div>
                <!-- title end -->

                <!-- title description start -->
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p>
                        <span class="lead"><strong>We've built a platform based on thousands of databases, where creators can search for any song for their project and license it, all in one place.</strong></span><br><br>

                        Every creator knows Music is universal – defying age, language, and culture. It’s shared, it’s
                        talked about, it’s emotional, and that’s powerful. <b>License It</b> built the perfect platform
                        to search and license almost every song – because we know there is no substitute for the music
                        you have in mind.
                    </p>
                </div>
                <!-- title description end -->
            </div>

            <div class="row mt50">

                <!-- item one start -->
                <div class="col-md-3 col-sm-6 col-xs-6 animated" data-animation="fadeInLeft" data-animation-delay="100">
                    <div class="content-box content-box-center">
                        <span class="icon-search color-pasific"></span>
                        <h5>Search</h5>
                        <p>More than 40M musical works are now indexed in one place.</p>

                    </div>
                </div>
                <!-- item one end -->

                <!-- item two start -->
                <div class="col-md-3 col-sm-6 col-xs-6 animated" data-animation="fadeInLeft" data-animation-delay="200">
                    <div class="content-box content-box-center">
                        <span class="icon-layers color-pasific"></span>
                        <h5>Owner Identification</h5>
                        <p>Find all the right-holders you need for any project in one place.</p>

                    </div>
                </div>
                <!-- item two end -->

                <!-- item three start -->
                <div class="col-md-3 col-sm-6 col-xs-6 animated" data-animation="fadeInRight"
                     data-animation-delay="300">
                    <div class="content-box content-box-center">
                        <span class="icon-pencil color-pasific"></span>
                        <h5>License Inquiry</h5>
                        <p>An easy license inquiry method. Fill it out once and automatically send to all relevant
                            right-holders for their permission.</p>

                    </div>
                </div>
                <!-- item three end -->

                <!-- item four start -->
                <div class="col-md-3 col-sm-6 col-xs-6 animated" data-animation="fadeInRight"
                     data-animation-delay="400">
                    <div class="content-box content-box-center">
                        <span class="icon-flag color-pasific"></span>
                        <h5>Done!</h5>
                        <p>Now relax and wait for the parties' approval – we have shortened the waiting time by 50%.</p>

                    </div>
                </div>
                <!-- item four start -->

            </div>
        </div>
    </div>



    <!-- Fun Fact Area
    ===================================== -->
    <div class="container-fluid pb70 pt70"
         style="background: url(assets/img/bg/bg-parallax-2.jpg) 50% 50% no-repeat;">
        <div class="container">
            <div class="row">

                <div class="col-md-12 text-center">

                    <a href="search-results.html" class="button-3d button-md button-circle button-green mt20">get your
                        license now</a>
                    </h3>
                </div>

            </div>
        </div>
    </div>
{% endblock %}