{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Subheader Area
===================================== -->
        <!-- Subheader Area
        ===================================== -->
        <header class="parallax-window-3 mt70">

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center pt30 pb30">
                        <h1 class="mt55 font-pacifico color-dark text-capitalize">About Us</h1>
                        <img src="{% static 'common/assets/img/bg/bg-subheader-1555.png' %}" alt="" class="img-responsive center-block mt30 hover-sink">
                    </div>
                </div>
            </div>

        </header>

        <!-- Team Area
        ===================================== -->
        <div id="team" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h4 class="text-center text-uppercase font-montserrat color-dark">
                            We exist to help all creators use music in their projects

                            <small class="heading-desc text-lowercase">

We've built a platform based on thousands of databases, where creators can search for any song for their project and license it, all in one place.

Every creator knows Music is universal – defying age, language, and culture. It’s shared, it’s talked about, it’s emotional, and that’s powerful. License It built the perfect platform to search and license almost every song – because we know there is no substitute for the music you have in mind.
                            </small>
                            <small class="heading heading-solid center-block"> </small>
                        </h4>
                    </div>
                </div>


                 <div id="team" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h4 class="text-center text-uppercase font-montserrat color-dark">
Better Solution for Better music
                            <small class="heading-desc text-lowercase">


there are numerous services acting in the micro licensing world, providing pre-cleared music, but the problem is that the catalogue is poor. license it offers a new approach for licensing music: one platform to search, identify music owners and negotiate directly.
                            </small>
                            <small class="heading heading-solid center-block"> </small>
                        </h4>
                    </div>
                </div>

{% endblock %}