{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Subheader Area
===================================== -->
    <header class="parallax-window-3 mt70">

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pt30 pb30">
                    <h1 class="mt55 font-pacifico color-dark text-capitalize">About Us</h1>
                    <img src="{% static 'common/assets/img/bg/bg-subheader-15.jpg' %}" alt=""
                         class="img-responsive center-block mt30 hover-sink">
                </div>
            </div>
        </div>

    </header>

    <!-- Team Area
    ===================================== -->
    <div id="team" class="">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4 class="text-center text-uppercase font-montserrat color-dark">
                        Amazing Team. Awesome Skills.
                        <small class="heading-desc text-lowercase">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                        </small>
                        <small class="heading heading-solid center-block"></small>
                    </h4>
                </div>
            </div>

            <div class="row mt50 mb50 container-team">
                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="team-seven mb25">
                        <div class="team-seven-content text-center pt50">
                            <h5>
                                Zahwa Aqila
                                <small>CEO - Counder</small>
                            </h5>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="team-seven-overlay magictime" data-hover="perspectiveDown"
                             data-return="perspectiveDownRetourn">
                            <img src="{% static 'common/assets/img/team/1.png' %}" alt=""/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="team-seven mb25">
                        <div class="team-seven-content text-center pt50">
                            <h5>
                                Kholifa Nur
                                <small>Web Developer</small>
                            </h5>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="team-seven-overlay magictime" data-hover="perspectiveUp"
                             data-return="perspectiveUpRetourn">
                            <img src="{% static 'common/assets/img/team/2.png' %}" alt=""/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="team-seven mb25">
                        <div class="team-seven-content text-center pt50">
                            <h5>
                                Taufiq Webb
                                <small>Web Designer</small>
                            </h5>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="team-seven-overlay magictime" data-hover="perspectiveLeft"
                             data-return="perspectiveLeftRetourn">
                            <img src="{% static 'common/assets/img/team/3.png' %}" alt=""/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="team-seven mb25">
                        <div class="team-seven-content text-center pt50">
                            <h5>
                                Luai Smith
                                <small>Web Designer</small>
                            </h5>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="team-seven-overlay magictime" data-hover="perspectiveRight"
                             data-return="perspectiveRightRetourn">
                            <img src="{% static 'common/assets/img/team/4.png' %}" alt=""/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="team-seven mb25">
                        <div class="team-seven-content text-center pt50">
                            <h5>
                                Avinas Doe
                                <small>UIX Designer</small>
                            </h5>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="team-seven-overlay magictime" data-hover="perspectiveDown"
                             data-return="perspectiveDownRetourn">
                            <img src="{% static 'common/assets/img/team/5.png' %}" alt=""/>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-12">
                    <div class="team-seven mb25">
                        <div class="team-seven-content text-center pt50">
                            <h5>
                                Harry Boo
                                <small>Co-Founder</small>
                            </h5>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </div>
                        <div class="team-seven-overlay magictime" data-hover="perspectiveUp"
                             data-return="perspectiveUpRetourn">
                            <img src="{% static 'common/assets/img/team/6.png' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Progress Bar Area
    ===================================== -->
    <div class="pb50">
        <div id="progressBar1" class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h5>Adobe Photoshop</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="90"></div>
                    </div>

                    <h5>Adobe Illustrator</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="60"></div>
                    </div>

                    <h5>Wordpress</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="75"></div>
                    </div>

                    <h5>WooCommerce</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="40"></div>
                    </div>


                </div>

                <div class="col-sm-6 col-md-6">
                    <h5>Joomla</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="70"></div>
                    </div>

                    <h5>Shopify</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="90"></div>
                    </div>

                    <h5>Drupal</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="50"></div>
                    </div>

                    <h5>Other Language</h5>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-pasific" role="progressbar" data-transitiongoal="30"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Team Area
    ===================================== -->
    <div id="features" class="pt50">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h4 class="text-center">
                        Why people love us
                        <small class="heading-desc text-lowercase">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                        </small>
                        <small class="heading heading-solid center-block"></small>
                    </h4>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12 mt30">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-lock color-pasific"></span>
                        <h5>Privacy Protected</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis
                            reiciendis architecto.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt30">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-speedometer color-pasific"></span>
                        <h5>Fast Respon</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis
                            reiciendis architecto.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt30">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-genius color-pasific"></span>
                        <h5>Genius People</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis
                            reiciendis architecto.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt30">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-chat color-pasific"></span>
                        <h5>Friendly Support</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis
                            reiciendis architecto.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt30">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-layers color-pasific"></span>
                        <h5>Clean Code</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis
                            reiciendis architecto.</p>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12 mt30">
                    <div class="content-box content-box-icon-o content-box-left-icon">
                        <span class="icon-adjustments color-pasific"></span>
                        <h5>Easy to Customize</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi pariatur magni omnis
                            reiciendis architecto.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Testimonial Area
    ===================================== -->
    <div id="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mt70">
                            <div id="owlSectionThreeItem" class="owl-carousel">

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                    <div class="testimonial-body">
                                        <p>
                                            Pasific template is the best template so far. So easy to customize and clean
                                            code. Recommended!
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <img src="{% static 'common/assets/img/other/photo-1.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                        <i class="fa fa-quote-left"></i>
                                        Martin Smith <a href="#">Smashingmagazine.com </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                    <div class="testimonial-body">
                                        <p>
                                            Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non
                                            ipsum molestie sagittis elit ac vulputate odio.
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <img src="{% static 'common/assets/img/other/photo-4.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                        <i class="fa fa-quote-left"></i>
                                        John Doe <a href="#">Smashingmagazine.com </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-triangle-isosceles bottom-left">
                                    <div class="testimonial-body">
                                        <p>
                                            Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non
                                            ipsum molestie sagittis elit ac vulputate odio.
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <img src="{% static 'common/assets/img/other/photo-2.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                        <i class="fa fa-quote-left"></i>
                                        Steve Austin <a href="#">Smashingmagazine.com </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div><!-- row end -->
                </div><!-- container end -->
            </div><!-- row end -->
        </div><!-- container-fluid end -->
    </div><!-- section testimonial end -->


    <!-- Clients Area
    ===================================== -->
    <div id="client" class="bg-gray mt75 pt75 bt-solid-1">
        <div class="container">
            <div class="row">

                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="{% static 'common/assets/img/brand/paypal-gray.png' %}" alt="client logo"
                         class="img-responsive center-block animated" data-animation="fadeIn"
                         data-animation-delay="350">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="{% static 'common/assets/img/brand/evernote-gray.png' %}" alt="client logo"
                         class="img-responsive center-block animated" data-animation="fadeIn"
                         data-animation-delay="300">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="{% static 'common/assets/img/brand/microsoft-gray.png' %}" alt="client logo"
                         class="img-responsive center-block animated" data-animation="fadeIn"
                         data-animation-delay="250">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="{% static 'common/assets/img/brand/smashing-gray.png' %}" alt="client logo"
                         class="img-responsive center-block animated" data-animation="fadeIn"
                         data-animation-delay="200">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="{% static 'common/assets/img/brand/guardian-gray.png' %}" alt="client logo"
                         class="img-responsive center-block animated" data-animation="fadeIn"
                         data-animation-delay="150">
                </div>
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="{% static 'common/assets/img/brand/linkedin-gray.png' %}" alt="client logo"
                         class="img-responsive center-block animated" data-animation="fadeIn"
                         data-animation-delay="100">
                </div>

            </div>
        </div>
    </div>

{% endblock %}