{% extends 'common/common_base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Intro Area
===================================== -->
    <header class="pt100 pb100 parallax-window-2" data-parallax="scroll" data-speed="0.5"
            data-image-src="{% static 'common/assets/img/bg/img-bg-13.jpg' %}" data-positionY="1000">
        <div class="intro-body text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 pt50">
                        <h1 class="brand-heading font-montserrat text-uppercase color-light"
                            data-in-effect="fadeInDown">
                            We Build Modern Website
                            <small class="color-light alpha7">We are ready for any challenge from you.</small>
                        </h1>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <!-- service Area
    ===================================== -->
    <div class="pt75 pb50">
        <div class="container">
            <div class="row mb35">
                <h3 class="text-center">
                    We Build Amazing Website Everyday
                    <small class="heading-desc text-lowercase">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                    </small>
                    <small class="heading heading-solid center-block"></small>
                </h3>
            </div>

            <div class="row text-center">
                <img src="{% static 'common/assets/img/other/img-other-18.png' %}" alt="website service"
                     class="img-responsive mb50 hover-wobble-horizontal">
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills nav-justified">
                        <li class="active text-uppercase"><a data-toggle="pill" href="#pilljustifiedHome"><i
                                class="fa fa-wordpress mr10"></i> Wordpress</a></li>
                        <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified1"><i
                                class="fa fa-joomla mr10"></i> Joomla</a></li>
                        <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified2"><i
                                class="fa fa-drupal mr10"></i> Drupal</a></li>
                        <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified3"><i
                                class="fa fa-shopping-basket mr10"></i> eCommerse</a></li>
                        <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified4"><i
                                class="fa fa-object-ungroup mr10"></i> Vector</a></li>
                        <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified5"><i
                                class="fa fa-mobile-phone mr10"></i> Mobile App</a></li>
                    </ul>

                    <div class="tab-content bt-solid-1 mt35">
                        <div id="pilljustifiedHome" class="tab-pane fade in active">
                            <h4 class="text-center">Wordpress</h4>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in
                                assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero.
                                Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum
                                iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis
                                assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat,
                                nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis
                                perferendis quam porro!
                            </p>
                            <p class="text-center">
                                <a class="button button-md button-blue hover-ripple-out">Order Now</a>
                            </p>
                        </div>
                        <div id="pilljustified1" class="tab-pane fade">
                            <h4 class="text-center">Joomla</h4>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in
                                assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero.
                                Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum
                                iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis
                                assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat,
                                nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis
                                perferendis quam porro!
                            </p>
                            <p class="text-center">
                                <a class="button button-md button-green hover-ripple-out">Order Now</a>
                            </p>
                        </div>
                        <div id="pilljustified2" class="tab-pane fade">
                            <h4 class="text-center">Drupal</h4>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in
                                assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero.
                                Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum
                                iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis
                                assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat,
                                nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis
                                perferendis quam porro!
                            </p>
                            <p class="text-center">
                                <a class="button button-md button-primary hover-ripple-out">Order Now</a>
                            </p>
                        </div>
                        <div id="pilljustified3" class="tab-pane fade">
                            <h4 class="text-center">eCommerce</h4>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in
                                assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero.
                                Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum
                                iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis
                                assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat,
                                nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis
                                perferendis quam porro!
                            </p>
                            <p class="text-center">
                                <a class="button button-md button-purple hover-ripple-out">Order Now</a>
                            </p>
                        </div>
                        <div id="pilljustified4" class="tab-pane fade">
                            <h4 class="text-center">Vector</h4>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in
                                assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero.
                                Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum
                                iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis
                                assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat,
                                nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis
                                perferendis quam porro!
                            </p>
                            <p class="text-center">
                                <a class="button button-md button-success hover-ripple-out">Order Now</a>
                            </p>
                        </div>
                        <div id="pilljustified5" class="tab-pane fade">
                            <h4 class="text-center">Mobile App</h4>
                            <p class="text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in
                                assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero.
                                Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum
                                iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis
                                assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat,
                                nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis
                                perferendis quam porro!
                            </p>
                            <p class="text-center">
                                <a class="button button-md button-warning hover-ripple-out">Order Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Price Area
    ===================================== -->
    <div id="team" class="bg-grad-mojito">
        <div class="container-fluid bg-grad-day-tripper">
            <div class="container pt50 pb50">

                <div class="row mb35">
                    <h3 class="text-center color-light">
                        Service Pricing
                        <small class="heading-desc text-lowercase color-light alpha7">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                        </small>
                        <small class="heading heading-solid center-block"></small>
                    </h3>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">

                            <!-- Price -->
                            <div class="col-md-4 col-sm-6 col-xs-12 hover-float">
                                <div class="price price-three">
                                    <div class="price-header">
                                        <span><sup>$</sup>49</span>
                                        <h4>Regular</h4>
                                    </div>
                                    <div class="price-body">
                                        <ul>
                                            <li>Two Web Designs</li>
                                            <li>Unlimited Revision</li>
                                            <li>Free One Year Domain</li>
                                            <li>Free Six Months Hosting</li>
                                            <li>Free Installation</li>
                                            <li>Full Support</li>
                                        </ul>
                                    </div>
                                    <div class="price-footer">

                                        <a href="#"
                                           class="button-3d button-sm button-rounded button-green hover-ripple-out">Order
                                            Now</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Price -->
                            <div class="col-md-4 col-sm-6 col-xs-12 hover-float">
                                <div class="price price-three">
                                    <div class="price-badge bg-grad-blood-mary">Recommended</div>
                                    <div class="price-header">
                                        <span><sup>$</sup>59</span>
                                        <h4>Extended</h4>
                                    </div>
                                    <div class="price-body">
                                        <ul>
                                            <li>Two Web Designs</li>
                                            <li>Unlimited Revision</li>
                                            <li>Free One Year Domain</li>
                                            <li>Free Six Months Hosting</li>
                                            <li>Free Installation</li>
                                            <li>Full Support</li>
                                        </ul>
                                    </div>
                                    <div class="price-footer">

                                        <a href="#"
                                           class="button-3d button-sm button-rounded button-success hover-ripple-out">Order
                                            Now</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Price -->
                            <div class="col-md-4 col-sm-6 col-xs-12 hover-float">
                                <div class="price price-three">
                                    <div class="price-header">
                                        <span><sup>$</sup>69</span>
                                        <h4>Developer</h4>
                                    </div>
                                    <div class="price-body">
                                        <ul>
                                            <li>Two Web Designs</li>
                                            <li>Unlimited Revision</li>
                                            <li>Free One Year Domain</li>
                                            <li>Free Six Months Hosting</li>
                                            <li>Free Installation</li>
                                            <li>Full Support</li>
                                        </ul>
                                    </div>
                                    <div class="price-footer">

                                        <a href="#"
                                           class="button-3d button-sm button-rounded button-cyan hover-ripple-out">Order
                                            Now</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <!-- Cart Area
    ===================================== -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt50 mb35">
                    <h1 class="color-dark">
                        More Than 1500 Website Launches since 2001
                    </h1>
                </div>
            </div>
        </div>
        <div class="svg-container2">
            <svg id="svgLine" xmlns="http://www.w3.org/2000/svg" version="1.1"
                 width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 250"
                 preserveAspectRatio="xMinYMax">

                <polygon points="-150,300 200,90 550,140 800,60 1100,150 1400,100 1700,10 1900,50 2500,90 2500,300"
                         fill="url(#BglinierGradient)" stroke="none">
                </polygon>

                <polyline points="-150,244 200,90 550,140 800,60 1100,150 1400,100 1700,10 1900,50 2500,90 2500,500"
                          fill="none" stroke="#7668af" stroke-width="0">
                </polyline>

                <text x="170" y="20" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Wordpress</text>
                <text x="170" y="60" fill="#5cb85c" style="font-size: 250%; font-weight: 300;">1000</text>

                <text x="510" y="60" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Joomla</text>
                <text x="520" y="100" fill="#5f6467" style="font-size: 250%; font-weight: 300;">750</text>

                <text x="760" y="0" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Drupal</text>
                <text x="760" y="40" fill="#b2cc71" style="font-size: 250%; font-weight: 300;">2000+</text>

                <text x="1060" y="70" fill="#8b949b" style="font-size: 120%; font-weight: 400;">HTML5</text>
                <text x="1060" y="110" fill="#3c88c6" style="font-size: 250%; font-weight: 300;">950</text>

                <text x="1350" y="30" fill="#8b949b" style="font-size: 120%; font-weight: 400;">eCommerse</text>
                <text x="1350" y="70" fill="#1abc9c" style="font-size: 250%; font-weight: 300;">5,780</text>

                <text x="1650" y="90" fill="#ffffff"
                      style="font-size: 140%; font-weight: 300; font-family: 'Pacifico', cursive;">Counting..
                </text>

                <ellipse id="svg_3" rx="15" ry="15" cx="200" cy="90" fill="#5cb85c" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_4" rx="10" ry="10" cx="550" cy="140" fill="#5f6467" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_5" rx="15" ry="15" cx="800" cy="60" fill="#b2cc71" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_6" rx="15" ry="15" cx="1100" cy="150" fill="#3c88c6" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_7" rx="10" ry="10" cx="1400" cy="100" fill="#1abc9c" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_8" rx="10" ry="10" cx="1700" cy="10" fill="#a85ad4" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_9" rx="9" ry="9" cx="1900" cy="50" fill="#ff8b34" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_10" rx="6" ry="6" cx="2500" cy="90" fill="#fd40b3" stroke="#ffffff"
                         stroke-width="5"></ellipse>
                <ellipse id="svg_11" rx="6" ry="6" cx="2200" cy="90" fill="#fd3635" stroke="#ffffff"
                         stroke-width="5"></ellipse>

                <defs>
                    <lineargradient id="BglinierGradient" x1="0" y1="0" x2="0" y2="1">
                        <stop id="BgLinierGradientStop_1" stop-opacity="1" stop-color="#1abc9c" offset="0"></stop>
                        <stop id="BgLinierGradientStop_2" stop-opacity="1" stop-color="#1abc9c" offset="1"></stop>
                    </lineargradient>
                </defs>

            </svg>
        </div>
    </div>



    <!-- Testimonial Area
    ===================================== -->
    <div>
        <div class="container-fluid pb25 pt70"
             style="background: url({% static 'common/assets/img/bg/bg-subheader-5.jpg' %}) 50% 50% no-repeat;">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="owlSectionThreeItem" class="owl-carousel">

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-center">
                                    <div class="testimonial-header">
                                        <img src="{% static 'common/assets/img/other/photo-1.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                    </div>
                                    <div class="testimonial-body">
                                        <p class="color-light">
                                            Pasific template is the best template so far. So easy to customize and clean
                                            code. Recommended!
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <i class="fa fa-quote-left"></i>
                                        Martin Smith <a href="#">Smashingmagazine.com </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-center">
                                    <div class="testimonial-header">
                                        <img src="{% static 'common/assets/img/other/photo-2.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                    </div>
                                    <div class="testimonial-body">
                                        <p class="color-light">
                                            Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non
                                            ipsum molestie sagittis elit ac vulputate odio.
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <i class="fa fa-quote-left"></i>
                                        Steve Austin <a href="#">envato.com </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-center">
                                    <div class="testimonial-header">
                                        <img src="{% static 'common/assets/img/other/photo-3.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                    </div>
                                    <div class="testimonial-body">
                                        <p class="color-light">
                                            Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <i class="fa fa-quote-left"></i>
                                        Johny English <a href="#">themeforest.net </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-center">
                                    <div class="testimonial-header">
                                        <img src="{% static 'common/assets/img/other/photo-1.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                    </div>
                                    <div class="testimonial-body">
                                        <p class="color-light">
                                            Pasific template is the best template so far. So easy to customize and clean
                                            code. Recommended!
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <i class="fa fa-quote-left"></i>
                                        Martin Smith <a href="#">Smashingmagazine.com </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-center">
                                    <div class="testimonial-header">
                                        <img src="{% static 'common/assets/img/other/photo-2.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                    </div>
                                    <div class="testimonial-body">
                                        <p class="color-light">
                                            Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non
                                            ipsum molestie sagittis elit ac vulputate odio.
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <i class="fa fa-quote-left"></i>
                                        Steve Austin <a href="#">envato.com </a>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="testimonial testimonial-center">
                                    <div class="testimonial-header">
                                        <img src="{% static 'common/assets/img/other/photo-3.jpg' %}" alt="testimonial author"
                                             class="img-responsive img-circle">
                                    </div>
                                    <div class="testimonial-body">
                                        <p class="color-light">
                                            Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                                        </p>
                                    </div>
                                    <div class="testimonial-footer">
                                        <i class="fa fa-quote-left"></i>
                                        Johny English <a href="#">themeforest.net </a>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}